{% extends 'base.html' %}

{% load static %}

{% block title %}Trans Rights: EHRC Email{% endblock %}

{% block content %}
    <h1>EHRC Re Transgender Rights</h1>

    <h2>My Email of 14 July</h2>
    <div id="email" class="rounded border p-3 my-3" style="max-width: max(80%, 800px)">
        <p>Hello,</p>

        <p>I write relating to transgender rights in the UK.</p>

        <p>
            Please can you inform me of what specific work the EHRC is doing to protect transgender, gender diverse, and gender non-conforming people, and their rights, in the UK?
            Furthermore, what is the EHRC doing do foster good relations between the general public and the aforementioned people?
        </p>

        <p>
            I look forward to your response,<br>
            Autumn R<br>
            (they/she)
        </p>
    </div>

    <h2>EHRC Response of 14 July</h2>
    <div id="response" class="rounded border p-3 my-3" style="max-width: max(80%, 800px)">
        <p>
            Dear Autumn R<br>
            Case 12106748
        </p>

        <p>Thank you for your email in which you ask what the EHRC is doing in relation to trans rights.</p>

        <p>
            Following the UK Supreme Court judgment in For Women Scotland v The Scottish Ministers, we are working at pace to update relevant parts of the Services, Public Functions and Associations Code of Practice.
            Through a revised Services Code, we will support service providers, public bodies, and associations to understand their duties under the Equality Act 2010.
            We will review all survey responses and make necessary amendments to the Code once the consultation has closed.
        </p>

        <p>
            A part of this process, we opened a public consultation focused specifically on those sections of the Code of Practice that require updating following the Supreme Court's judgment.
            Our consultation provided individuals and organisations with an interest in this matter the opportunity to share their contributions.
            We met with, and answered questions from a wide range of organisations representing people with the protected characteristics of sex, gender reassignment and sexual orientation.
            This included meeting with trans rights and broader human rights organisations.
        </p>

        <p>
            We will continue to regulate and enforce the Equality Act 2010, ensuring protection for all protected characteristics including those of sex, gender reassignment and sexual orientation.
        </p>

        <p>
            Kind regards,<br>
            Valentine.
        </p>
        <p>
            Head of Corporate Communications<br>
            Equality and Human Rights Commission.
        </p>
    </div>

    <h2>My Follow-Up of 14 July</h2>
    <div id="email-2" class="rounded border p-3 my-3" style="max-width: max(80%, 800px)">
        <p>Hello,</p>

        <p>Thank you for your incredibly swift response.</p>

        <p>
            Other than the response to the FWS judgement, is there any other ongoing work within the EHRC to advance, protect, uphold, or otherwise support the rights of transgender and gender diverse people?
            Furthermore, what is the EHRC doing do foster good relations between the general public and the aforementioned people?
        </p>

        <p>Faithfully,</p>

        <p>
            Autumn R<br>
            (they/she)
        </p>
    </div>

    <h2>EHRC Response of 15 July</h2>
    <div id="email-2" class="rounded border p-3 my-3" style="max-width: max(80%, 800px)">
        <p>Dear Autumn R</p>

        <p>Thank you for your email.</p>

        <p>
            The EHRC was set up by Parliament to protect everyone's rights in Britain.
            This includes the rights of trans people.
            We have the power to take action against anyone who discriminates against trans people, whether that's their employer or a service provider.
            We have done so, and can evidence that.
        </p>

        <p>
            We also take action to promote the rights of trans people, including their fair access to healthcare and gender reassignment services.
            We have repeatedly championed the rights of trans people to the Department of Health and Social Care.
        </p>

        <p>
            We have raised concerns directly with ministers about long waiting times and insufficient advice and support, and about specific issues such as the Government's 'list of practitioners' for providing a gender dysphoria diagnosis, which we know is a barrier for some trans people in obtaining a GRC.
            We have also identified this as an area of work where we and civil society organisations, such as Stonewall, can work effectively together to support trans people.
        </p>

        <p>
            Additionally, we undertake legal work to support trans and non-binary people who have been discriminated against, whether in their access to health and social care services, or in their place of work or education, or in other areas of their life.
            We have successfully taken on legal cases to support and protect the rights of trans people and we will continue to do so.
        </p>

        <p>
            Kind regards,<br>
            Valentine.
        </p>
    </div>
{% endblock %}