{% extends 'categories/category-base.html' %}
{% load static %}

{% block title %}| "Gender Critical" Arguments{% endblock %}
{% block heading %}&ldquo;Gender Critical&rdquo; Arguments{% endblock %}

{% block international %}
    <p>In another of their publications, the {{ acronyms.iesogi }} comments that:<sup>[<a href="#ref:iesogi:law-practices" class="cite"></a>: p. 6]</sup></p>
    <blockquote>
        the notion of &ldquo;gender ideology&rdquo; was created by religious leaders to halt advances regarding women&rsquo;s empowerment
    </blockquote>
    <p>and:</p>
    <blockquote>
        there is no justification to defend a system of oppression to the detriment of the individual; on the contrary, there is a moral imperative to defend the individual&rsquo;s freedom from violence and discrimination.
        States have before them an urgent duty to establish legal gender recognition based on self-determination - while they fail to do so, they continue to enable much human rights abuse around the world.
    </blockquote>

    <p>The EU supports this, saying:<sup>[<a href="#ref:eu:combatting:C" class="cite"></a>: &para;13-14]</sup></p>
    <blockquote>
        gender-critical movements [...] ignore the fundamental human rights issues at stake – the fight for recognition and equal rights – and wrongly characterise efforts to deconstruct deeply harmful gender stereotypes in our societies as so-called &ldquo;gender ideology&rdquo;.
    </blockquote>

    <p>Being even more explicit:</p>
    <blockquote>
        these movements [...] directly [violate] women&rsquo;s, children&rsquo;s and LGBTI people&rsquo;s human rights.
    </blockquote>
{% endblock %}

{% block uk %}

{% endblock %}