{% extends 'base.html' %}
{% load static %}

{% block title %}about{% endblock %}

{% block content %}
    <h1 class="display-1">About me</h1>

    <h2>Labels I use</h2>
    <div>
        {% for label in label_list %}
            <button type="button" class="btn btn-secondary m-2" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ label.1 | escape }}">
                {{ label.0 }}
            </button>
        {% endfor %}
    </div>

    <h2 class="mt-5">Interests</h2>
    <div class="d-flex flex-wrap">
        {% for i in interests %}
            <div class="card m-2 flex-grow-1" style="width: max(20%, 18rem)">
                <div class="card-body">
                    <h3 class="card-title">{{ i.0 }}</h3>
                    <p class="card-text">{{ i.1 }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <h2 class="mt-5">Credentials</h2>
    <p class="mt-1" style="opacity: 60%"><sup>&dagger;</sup>Recorded under my deadname &ldquo;Charlie Redpath&rdquo;.</p>
    <div class="d-flex flex-wrap">
        {% for i in creds %}
            <div class="card m-2 flex-grow-1" style="width: max(20%, 18rem)">
                <div class="card-body">
                    <h3 class="card-title">{{ i.0 }}</h3>
                    <p class="card-text">{{ i.1 }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}