{% extends 'base.html' %}
{% load static %}

{% block title %}articles{% endblock %}

{% block content %}
    <h1 class="display-1">Articles</h1>

    <div class="accordion" id="articles-accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#lo-article"
                        aria-expanded="false" aria-controls="lo-article">
                    Observations From Protesting
                </button>
            </h2>
            <div id="lo-article" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <dl>
                        <dt><abbr title="All Cops Are Bastards">ACAB</abbr></dt>
                        <dd>
                            Cops are shit; they won&rsquo;t wear shoulder numbers, won&rsquo;t follow <abbr title="Police and Criminal Evidence Act 1984">PACE</abbr>,
                            will use excessive force, and won&rsquo;t like you holding them to account.
                            It is, therefore, important to be informed and stand your ground - as long as you don&rsquo;t put yourself at unnecessary risk.
                        </dd>

                        <dt>Pushing It...</dt>
                        <dd>
                            When it comes to standing up to police, knowing how far you can push it is key, as well as your own risk tolerance.
                            Truly, this comes from experience; my advice would be to:
                            <ol>
                                <li>&ldquo;Read the room&rdquo;: if things are getting tense, maybe back off a bit.</li>
                                <li>
                                    Watch the back lines: if the police behind the main line start rushing, forming up, or otherwise change what they are doing,
                                    keep an eye out for an escalation.
                                </li>
                                <li>
                                    Figure out your risk tolerance beforehand: things can escalate quickly and adrenaline can change your perception of risk.
                                    Before going to a protest, I like to talk to a friend about the risks that I would be comfortable taking,
                                    to get another person&rsquo;s thoughts and ensure I understand what I&rsquo;m getting into.
                                    Try to stick to these choices once you&rsquo;re at the protest, you may have a lesser ability to reason in-the-moment.
                                </li>
                            </ol>
                        </dd>

                        <dt>The Media</dt>
                        <dd>
                            The media, while good for getting coverage of a protest, can be really annoying.
                            Especially where people are trying to use tactics such as de-arrest, forming blockades, or just trying to get bustcards to those arrested,
                            the media can pose a real obstacle.
                            Sadly, I don&rsquo;t have any advice other than to stand your ground and don&rsquo;t be afraid to push.
                        </dd>

                        <dt>Kit List</dt>
                        <dd>
                            These are the things I take to protests (those marked with &ldquo;&dagger;&rdquo; I take when acting as a liaison/observer):
                            <ul>
                                <li>Water &ndash; stay hydrated</li>
                                <li>Hi-viz<sup>&dagger;</sup></li>
                                <li>Snacks (plus ones to share if you can afford it)</li>
                                <li><a href="https://greenandblackcross.org/guides/bustcard/" target="_blank">Bustcards</a> &ndash; you can <b>never</b> have too many.
                                    I like to put some in little plastic bags, in case it rains</li>
                                <li>Waterproof notepad and pen</li>
                                <li>A protest phone to record / take photos</li>
                                <li>A watch</li>
                                <li>A coat</li>
                                <li>
                                    <button data-bs-toggle="collapse" href="#fa-kit" role="button" aria-expanded="false" aria-controls="fa-kit">
                                        A first aid kit, containing: (dropdown)
                                    </button>
                                    <ul class="collapse" id="fa-kit">
                                        <li>Plasters</li>
                                        <li>Wound wipes</li>
                                        <li>Tape</li>
                                        <li>Shears and scissors</li>
                                        <li>Pads</li>
                                        <li>Eye wash</li>
                                        <li>Foil blanket</li>
                                        <li>Triangular bandage</li>
                                        <li>Gloves (I like nitrile best)</li>
                                    </ul>
                                </li>
                                <li>Paracord</li>
                                <li>Tape</li>
                                <li>Tissues, lots of tissues</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#student-resources-article"
                        aria-expanded="false" aria-controls="student-resources-article">
                    Resources for Students, Based on my Experience
                </button>
            </h2>
            <div id="student-resources-article" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <ul>
                        <li>Take some time to familiarise yourself with your institution&lsquo;s complaints process, and don't be afraid to complain.</li>
                        <li>
                            For disabled students:
                            <ul>
                                <li>DisabilityRightsUK, &ldquo;<a href="https://www.disabilityrightsuk.org/resources/understanding-equality-act-information-disabled-students" target="_blank">Understanding the Equality Act: information for disabled students</a>&rdquo;.</li>
                            </ul>
                        </li>
                        <li>OIA, &ldquo;<a href="https://www.oiahe.org.uk/about-us/reviewing-complaints/what-happens-when-a-student-complains-to-us/putting-things-right/" target="_blank">Putting Things Right</a>&rdquo;.</li>
                        <li>OIA, &ldquo;<a href="https://www.oiahe.org.uk/resources-and-publications/case-summaries/" target="_blank">Case Summaries</a>&rdquo;.</li>
                        <li>LexisNexis and Kris Robbetts &ldquo;<a href="https://www.lexisnexis.co.uk/legal/guidance/higher-education-student-contract" target="_blank">Higher education student contract</a>&rdquo;.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#social-credit-article"
                        aria-expanded="false" aria-controls="social-credit-article">
                    Is Social Credit Any Different From Money?
                </button>
            </h2>
            <div id="social-credit-article" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p>
                        
                    </p>
                    
                    <ul style="font-size: smaller">
                        <li>[a] Mac Síthigh, Daithí, and Siems, Mathias, “The Chinese Social Credit System: A Model for Other Countries?”, The Modern Law Review, 82/6 (2019), 1034–71. doi: 10.1111/1468-2230.12462.</li>
                        <li>[b] Liu, Chuncheng, “Multiple Social Credit Systems in China”, Economic Sociology: The European Electronic Newsletter, 22/1 (2019), 22–32. doi: 10.2139/ssrn.3423057.</li>
                        <li>[c] Liang, Fan, et al., “Constructing a Data-Driven Society: China’s Social Credit System as a State Surveillance Infrastructure”, Policy & Internet, 10/4 (2018), 415–53. doi: 10.1002/poi3.183.</li>
                        <li>[d] Creemers, Rogier, China’s Social Credit System: An Evolving Practice of Control (May 9, 2018). doi: 10.2139/ssrn.3175792.</li>
                        <li>[e] Yu, Lean, et al., “Social credit: a comprehensive literature review”, Financial Innovation, 1/1 (June 2015), 6. doi: 10.1186/s40854-015-0005-6.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pace-consult"
                        aria-expanded="false" aria-controls="pace-consult">
                    PACE Consultation Provisions
                </button>
            </h2>
            <div id="pace-consult" class="accordion-collapse collapse">
                <div class="accordion-body">
                    &ldquo;The PACE codes&rdquo; are codes of practice published in accordance with the Police and Criminal Evidence Act 1984.
                    Most codes contain paragraphs requiring they be made available in police stations; however, in my experience, they are not.
                    These provisions are given below for reference.

                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Ref</th>
                                <th>Quote</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>A</td>
                            <td>1.1</td>
                            <td>
                                This code of practice must be readily available at all police stations for consultation by police officers, police staff, detained persons and members of the public.
                            </td>
                        </tr>
                        <tr>
                            <td>B</td>
                            <td>2.1</td>
                            <td>
                                This Code must be readily available at all police stations for consultation by:
                                <ul>
                                    <li>police officers</li>
                                    <li>police staff</li>
                                    <li>detained persons</li>
                                    <li>members of the public</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>C</td>
                            <td>1.2</td>
                            <td>
                                This Code of Practice must be readily available at all police stations for consultation by:
                                <ul>
                                    <li>police officers;</li>
                                    <li>police staff;</li>
                                    <li>detained persons;</li>
                                    <li>members of the public.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>D</td>
                            <td>2.1</td>
                            <td>
                                This Code must be readily available at all police stations for consultation by:
                                <ul>
                                    <li>police officers and police staff</li>
                                    <li>detained persons</li>
                                    <li>members of the public</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>G</td>
                            <td>1.5</td>
                            <td>
                                This Code of Practice must be readily available at all police stations for consultation by police officers and police staff, detained persons and members of the public.
                            </td>
                        </tr>
                        <tr>
                            <td>H</td>
                            <td>1.8</td>
                            <td>
                                This Code of Practice must be readily available at all police stations for consultation by:
                                <ul>
                                    <li>police officers;</li>
                                    <li>police staff;</li>
                                    <li>detained persons;</li>
                                    <li>members of the public.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>I</td>
                            <td>1.7</td>
                            <td>
                                This Code of Practice must be readily available at all police stations for consultation by:
                                <ul>
                                    <li>police officers;</li>
                                    <li>police staff;</li>
                                    <li>detained persons;</li>
                                    <li>members of the public.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>E</td>
                            <td>1.1</td>
                            <td>
                                This Code of Practice must be readily available for consultation by:
                                <ul>
                                    <li>police officers;</li>
                                    <li>police staff;</li>
                                    <li>detained persons;</li>
                                    <li>members of the public.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>F</td>
                            <td>1.1</td>
                            <td>
                                This Code of Practice must be readily available for consultation by police officers and other police staff, detained persons and members of the public
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        $(document).ready(function () {
            if(location.hash != null && location.hash != ""){
                $('.collapse').removeClass('in');
                $(location.hash + '.collapse').collapse('show');
            }
        });
        
        const buttons = document.getElementsByClassName("accordion-button");
        for (let i in [...Array(buttons.length).keys()]) {
            buttons.item(i).onclick = function () {
                if (buttons.item(i).attributes["aria-expanded"].nodeValue === "true") {
                    window.location.hash = buttons.item(i).attributes["aria-controls"].nodeValue;
                }
            };
        }
    </script>
{% endblock %}
