{% load static %}

<!DOCTYPE html>
<html lang="en-GB" class="h-100">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
        a[target='_blank']:after {
            content: '\F1C5';
            margin: 0 0 0 2px;
            font-family: bootstrap-icons;
            text-decoration-line: none;
            font-size: smaller;
        }
        
        p {
            max-width: max(70%, 50em);
        }
    </style>

    <title>chorl.dev | {% block title %}{% endblock title %}</title>

    {% block extra_head %}{% endblock extra_head %}
</head>

<body class="d-flex flex-column h-100">

<!-- Toggle theme -->
<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button class="btn-primary py-2 dropdown-toggle d-flex align-items-center"
            id="bd-theme"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            aria-label="Toggle theme (auto)">
        <i class="bi bi-circle-half px-1"></i>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
                <i class="bi bi-sun-fill px-2"></i>
                Light
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                <i class="bi bi-moon-stars-fill px-2"></i>
                Dark
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto">
                <i class="bi bi-circle-half px-2"></i>
                Auto
            </button>
        </li>
    </ul>
</div>

<!-- Header -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">chorl.dev</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">about</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">contact</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'credits' %}">credits</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'projects-index' %}">projects</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'email-disclaimer' %}">disclaimer</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main content -->
<main class="p-5">
{% autoescape off %}
    {% block content %}{% endblock content %}
{% endautoescape %}
</main>

<!-- Footer -->
<footer class="footer mt-auto d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
    <span class="mb-3 text-body-secondary px-3">
        Unless otherwise noted, content of chorl.dev by Autumn R is licensed under the <a href="https://oql.avris.it/license/v1.1?c=Autumn%20R%7Chttps%3A%2F%2Fchorl.dev" target="_blank">
            <svg width="1em" height="1em">       
                <image xlink:href="{% static 'images/OQL.svg' %}" height="1em" width="1em"></image>
            </svg>Opinionated Queer License v1.1
        </a>.
        See <a class="local-link" href="{% url 'credits' %}">credits</a> for more information.
    </span>
</footer>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script>
    /*!
     * Color mode toggler for Bootstrap's docs (https://getbootstrap.com/)
     * Copyright 2011-2024 The Bootstrap Authors
     * Licensed under the Creative Commons Attribution 3.0 Unported License.
     */

    (() => {
        'use strict'

        const getStoredTheme = () => localStorage.getItem('theme')
        const setStoredTheme = theme => localStorage.setItem('theme', theme)

        const getPreferredTheme = () => {
            const storedTheme = getStoredTheme()
            if (storedTheme) {
                return storedTheme
            }

            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }

        const setTheme = theme => {
            if (theme === 'auto') {
                document.documentElement.setAttribute('data-bs-theme', (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'))
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        setTheme(getPreferredTheme())

        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
            const storedTheme = getStoredTheme()
            if (storedTheme !== 'light' && storedTheme !== 'dark') {
                setTheme(getPreferredTheme())
            }
        })

        window.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('[data-bs-theme-value]')
                .forEach(toggle => {
                    toggle.addEventListener('click', () => {
                        const theme = toggle.getAttribute('data-bs-theme-value')
                        setStoredTheme(theme)
                        setTheme(theme)
                    })
                })
        })
    })()
</script>
</body>
</html>
