{% extends 'base.html' %}

{% block title %}index{% endblock title %}

{% block content %}
    <h1>Autumn R</h1>
    <div class="tooltip">
        <h2 class="foot-text" style="margin-bottom: 0;">(they/she pronouns)</h2>
        <span class="tooltiptext">she/her, they/them, and any <a href="https://en.wikipedia.org/wiki/Neopronoun">neos</a>.</span>
    </div>
    <hr>

    <p>
        Hi! Im Autumn &ndash; a Queer &amp; Neurodiverse Cyber Security Student. As above, I use most pronouns (less he/him) and I prefer feminine/androgynous language.
    </p>

    <p>
        Free Palestine 🇵🇸
    </p>
    
    <h3>Links</h3>
    <hr>
    <ul class="link-flex-box">
        <li class="header-a"><a href="https://en.pronouns.page/@cozyautumn" target="_blank">pronouns.page/@cozyautumn</a></li>
        <li class="header-a"><a href="https://twitter.com/ch0rl2" target="_blank">twitter.com/ch0rl2</a></li>
        <li class="header-a"><a href="https://github.com/ch0rl" target="_blank">github.com/ch0rl</a></li>
    </ul>

    <div style="display: flex;">
        <div class="flex-half">
            <h3 class="subheader">Interests</h3>
            <hr>
            <ul>
                <li>Cyber Security</li>
                <li>Computer Science</li>
                <li>Maths</li>
                <li>Academia</li>
                <li>Activism</li>
                <li>Socialism</li>
                <li>Philosophy and Ethics</li>
                <li>Queer Topics</li>
                <li>Safety &ndash; First-Aid, etc.</li>
            </ul>
        </div><!--
        This comment is required to ignore the whitespace.
        --><div class="flex-half">
            <h3 class="subheader">Hobbies</h3>
            <hr>
            <ul>
                <li>Programming</li>
                <li>Misc. Research</li>
                <li>Climbing</li>
            </ul>
        </div>
    </div>

    <div style="width: 100%">
        <h3 class="subheader">Achievements</h3>
        <hr>
        <ul>
            <li><details>
                <summary>A-Level Maths, Further Maths, &amp; Computer Science</summary>
                <p class="details-para">A, D, A &ndash; respectively.</p>
            </details></li>
            <li><details>
                <summary>A* <a href="https://cyberepq.org.uk/" target="_blank">Cyber EPQ</a></summary>
                <p class="details-para">&lsquo;How great is the risk surrounding the sale of USB Rubber Duckies to the public, which can be used for malicious purposes?&rsquo;</p>
            </details></li>
            <li><details>
                <summary>Finalist for the 'Cyber Security Student of the Year', 2021</summary>
                <p class="details-para">See <a href="https://thenationalcyberawards.org/2021-finalists/" target="_blank"> National Cyber Awards: 2021 Finalists &amp; Winners</a>.</p>
            </details></li>
            <li><details>
                <summary>Competitions &amp; CTFs</summary>
                <dl class="details-para">
                    <dt>Cyber Discovery</dt>
                    <dd>
                            <li>CyberStart Game</li>
                            <li>SANS Foundations</li>
                            <li>&lsquo;Summer School&rsquo;, with CTF</li>
                    </dd>
                    <dt>Cyber First Advanced</dt>
                    <dt>British Informatics Olympiad</dt>
                    <dt>Hack The Box - Cyber Apocalypse 2021</dt>
                        <dd>Placed 1,305/4,740</dd>
                    <dt>SANS Boot Up CTF</dt>
                        <dd>Placed 126/1,293</dd>
                    <dt>SANS Foundations Course &amp; Proctored Exam</dt>
                        <dd>Beta for SEC275</dd>
                    <dt>Jupiter Rockets Europa</dt>
                        <dd>Placed 27/178</dd>
                </dl>
            </details></li>
            <li>Chief Scout's Gold Award</li>
            <li>Foundation Safety &amp; Rescue Training</li>
        </ul>
    </div>
{% endblock content %}
