{% extends 'trans-base.html' %}

{% load static %}

{% block title %}| EHRC Email 2{% endblock %}

{% block content %}
    <h1>EHRC Re Gender Self-ID</h1>

    <h2>My Email of 6 September</h2>
    <div id="email" class="rounded border p-3 my-3" style="max-width: max(80%, 800px)">
        <p>Hello,</p>

        <p>
            Please could you help me understand what work the EHRC is doing to bring forward gender self-ID in the UK, as required / called for under:
        </p>

        <ul>
            <li>The Yogyakarta Principles (Principle 3(B-C)),</li>
            <li>The Yogyakarta Principles plus 10 (Principle 31(C)), and</li>
            <li>European Parliamentary Assembly Resolution 2048 (2015) (para. 6.2).</li>
        </ul>

        <p>
            and as recommended by:
        </p>

        <ul>
            <li>The UN Independent Expert on protection against violence and discrimination based on Sexual Orientation and Gender Identity (OL GBR 15/2022, p. 3; A/73/152, para. 21), and</li>
            <li>The United Nations High Commissioner for Human Rights ("Living Free and Equal", p. 121).</li>
        </ul>

        <p>
            Thank you,<br>
            Autumn R<br>
            (they/she)
        </p>
    </div>

    <h2>My Follow-Up of 2 October</h2>
    <div id="email" class="rounded border p-3 my-3" style="max-width: max(80%, 800px)">
        <p>Hello,</p>

        <p>
            I would really appreciate a response to this.
        </p>

        <p>
            Thank you,<br>
            Autumn R
        </p>
    </div>

    <h2>EHRC Response of 3 October</h2>
    <div id="email-2" class="rounded border p-3 my-3" style="max-width: max(80%, 800px)">
        <p>Dear Autumn R,</p>

        <p>
            Thank you for your email asking what work the EHRC is doing to bring forward gender self-ID in the UK.
        </p>

        <p>
            As you note, gender self-ID is not currently the law in the UK.
            The Gender Recognition Act 2004 established the process for individuals to change their sex for most legal purposes.
            The recent Supreme Court judgment in <i>For Women Scotland v The Scottish Ministers</i> confirmed that, for the purposes of the Equality Act 2010, a person's sex is their birth, or biological, sex, but that trans people are still afforded the protections under the Equality Act by the protected characteristic of gender reassignment.
        </p>

        <p>
            The documents you referenced are not legally binding on the UK.
            The Gender Recognition Act was brought in to ensure the UK's approach to recognising a person's gender complies with the European Convention of Human Rights (ECHR).
            The ECHR does not require self-ID, although some states have moved towards such an approach.
        </p>

        <p>
            The UK Government has indicated that it will reform gender recognition laws in the UK.
            We will monitor any proposals to ensure compliance with the ECHR.
        </p>

        <p>
        Kind regards,
        </p>

        <p>
            Valentine<br>
            Head of Corporate Communications<br>
            Equality and Human Rights Commission.
        </p>
    </div>
{% endblock %}