{% extends 'base.html' %}

{% block title %}RHSE Annex{% endblock %}

{% block content %}
    <h1 class="pb-2">The Families Test: Revised RSHE statutory guidance</h1>

    <h2>1. What kinds of impact might the policy have on family formation?</h2>

    <p>
        In primary schools, age-appropriate Relationships Education involves supporting children to learn about what healthy relationships are and their importance, as well as how to develop mutually respectful relationships in all contexts, including online.
        This provides a foundation for RSE at secondary school.
    </p>

    <p>
        In secondary schools, this broadens to become age-appropriate Relationships and Sex Education and will include factual knowledge around sex, sexual health, and sexuality, set firmly within the context of relationships.
        We expect young people to learn what a positive, healthy relationship can look like, about consent and how to keep themselves safe in a variety of situations.
    </p>

    <p>
        Through these subjects, children should be taught about the importance of respectful relationships and the different types of loving and healthy relationships that exist, in a way that respects everyone’s views.
        This policy could therefore have an indirect positive impact as it aims to raise pupils’ awareness of what healthy and positive relationships can look like.
        Additionally, the curriculum promotes tolerance and respect between people of all faiths, beliefs, sexuality, and gender.
    </p>

    <h2>
        2. What kind of impact will the policy have on families going through key transitions such as becoming parents, getting married, fostering or adopting, bereavement, redundancy, new caring responsibilities or the onset of a long-term health condition?
    </h2>

    <p>
        The revised guidance now expects schools to be sensitive to pupils’ circumstances, recognising that families of many forms provide a nurturing environment for children, and can include single parent families, same-sex parents, families headed by grandparents, young carers, kinship carers, adoptive parents and foster parents/carers.
        Teaching should illustrate a wide range of family structures in a positive way, and care should be taken to ensure that children are not stigmatised based on their home circumstances.
    </p>

    <p>
        School have always been required to teach about marriage and civil partnerships, but the revised guidance now places equal weight on the importance of both institutions including the legal rights and myths of cohabitation.
        It now also requires schools to teach about forced marriage and that marrying before the age of 18 is illegal.
    </p>

    <p>
        Pupils should also be taught how families and relationships change over time, including through birth, death, separation and new relationships and that change and loss, including bereavement, can provoke a range of feelings; that grief is a natural response to bereavement, and everyone grieves differently.
    </p>

    <p>
        We have also added the roles and responsibilities of parents with respect to raising children, including the characteristics of successful parenting and the importance of the early years of a child’s life for brain development.
    </p>

    <p>
        The importance of healthy behaviours before and during pregnancy, including pelvic floor health, information on miscarriage and pregnancy loss, and how to access care and support.
    </p>

    <p>
        How to navigate their local healthcare system: what a GP is, when to use A&E / minor injuries, accessing sexual health and family planning clinics, the role of local pharmacies, and how to seek help via local third sector partners which may have specialist services.
    </p>

    <p>
        Pupils should also be taught where and how to seek support (including recognising the triggers for seeking support), including who in school they should speak to if they are worried about their own or someone else’s mental wellbeing or ability to control their emotions (including issues arising online).
    </p>

    <p>
        We believe this could have a potential positive impact on families going through the transition of becoming parents, fostering or adopting, and other life changing events such as bereavement or poor mental health/wellbeing.
    </p>

    <h2>
        3. What impacts will the policy have on all family members’ ability to play a full role in family life, including with respect to parenting and other caring responsibilities?
    </h2>

    <p>
        As mentioned above, we believe the additional content on characteristics of successful parenting could have positive impacts on family members’ ability to play a full role in family life.
    </p>

    <h2>4. How does the policy impact families before, during and after couple <i>[sic]</i></h2>

    <p>
        We have added content to the statutory guidance around pupils understanding the benefits of healthy relationships to their mental wellbeing and self-respect.
        Through gaining the knowledge of what a healthy relationship is like, they can be empowered to identify when relationships are unhealthy.
        Pupils should be taught that unhealthy relationships can have a lasting, negative impact on mental wellbeing.
        We have also added content to intimate and sexual relationships, including sexual health topic to make it clearer that pupils should be given medically and legally accurate and impartial information on pregnancy options, including keeping their baby, adoption, abortion and where to get further help.
    </p>

    <p>
        We believe this could have a potential positive impact on families before, during and after couple separation.
    </p>

    <h2>
        5. How does the policy impact those families most at risk of deterioration of relationship quality and breakdown?
    </h2>

    <p>
        As mentioned above, we believe the additional content on pupils understanding the benefits of healthy relationships to their mental wellbeing and self-respect, and where to get help could have positive impacts on those families most at risk of deterioration of relationship quality and breakdown.
    </p>

    <p>
        Other lifestyle topics that can contribute to quality or breakdown of the relationships such as drugs, alcohol, gambling and physical health, and health protections and prevention have also been made clearer or strengthened.
    </p>
{% endblock %}