{% extends 'base.html' %}
{% load static %}

{% block title %}projects{% endblock title %}

{% block content %}
    <h1>Projects</h1>
    <hr>

    <h2>Research</h2>
    <p>I tend to enjoy small research projects, usually resulting in a short &ldquo;paper&rdquo;/&ldquo;report&rdquo;, or other representation; sometimes &mdash; rarely &mdash; this results in a more long-term project. The following is a list of the projects I've completed, kept relatively up-to-date.</p>

    <h3>Papers/Reports</h3>
    <ul>
        <li><a class="local-link" href="{% static 'storm-distance.pdf' %}" target="_blank">The Distance of a Storm Based on Thunder and Lightning</a></li>
        <li><a class="local-link" href="{% static 'autism-at-rest.pdf' %}" target="_blank">Autistic functioning at rest: A collation of existing literature.</a></li>
    </ul>

    <h3>Code</h3>
    <ul>

    </ul>

    <h3>Other</h3>
    <ul>
        <li><a class="local-link" href="/projects/kinks" target="_blank">Kinks: A tool to aid discussion of kinks and preferences.</a></li>
    </ul>
{% endblock content %}
