{% extends 'base.html' %}

{% load static %}

{% block title %}projects{% endblock %}

{% block content %}
    <h1 class="display-1">Projects</h1>

    <p>TBD</p>
    
    <div class="container-fluid">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'terms' %}">Inclusive Terminology</a></h5>
                <p class="card-text">A collection of common computing terms with more inclusive alternatives.</p>
            </div>
        </div>
    </div>
{% endblock %}
