{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <style>
        blockquote {
            padding-left: 2em;
            text-align: justify;
            width: 80%
        }

        blockquote::before {
            content: "\F6B0";
            font-family: bootstrap-icons;
            font-size: x-large;
        }
    </style>
{% endblock %}

{% block title %}Trans Rights and the UK{% endblock %}

{% block content %}
<h1 class="pb-2">
    The UK&rsquo;s Failings on Trans Rights
</h1>
<p>The following takes two parts:</p>
<ol>
    <li>the current international opinion on the rights of transgender, gender diverse, and gender non-confirming people, and</li>
    <li>the UK&rsquo;s failings to meet this standard.</li>
</ol>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="about-intl-topics-tab" data-bs-toggle="tab" data-bs-target="#intl-topics-tab" type="button" role="tab" aria-controls="intl-topics-tab" aria-selected="true" onclick="open_main('about-intl-topics-tab')">International Opinion: Topics</button>
        <button class="nav-link" id="about-uk-tab" data-bs-toggle="tab" data-bs-target="#uk-tab" type="button" role="tab" aria-controls="uk-tab" aria-selected="false"  onclick="open_main('about-uk-tab')">The UK&rsquo;s Failings</button>
    </div>
</nav>

<div class="tab-content" id="tab-content">
    <div class="tab-pane fade show active p-2" id="intl-topics-tab" role="tabpanel" aria-labelledby="about-intl-topics-tab" tabindex="0">
        <div class="accordion" id="intl-topics-accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button id="intl:hrt:btn" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#intl-topics-hrt"
                            aria-expanded="false" aria-controls="intl-topics-hrt">
                        Hormone Replacement Therapy
                    </button>
                </h2>
                <div id="intl-topics-hrt" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button id="intl:legal:btn" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#intl-topics-legal"
                            aria-expanded="false" aria-controls="intl-topics-legal">
                        Legal Gender Recognition
                    </button>
                </h2>
                <div id="intl-topics-legal" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>
                            As very succinctly put by the UN Independent Expert on protection against violence and discrimination based on Sexual Orientation and Gender Identity (IESOGI), in a letter to the government of the UK:<sup>[<a href="#ref:iesogi:uk" class="cite"></a>: p. 3]</sup>
                        </p>
                        <blockquote>
                            gender identity must be recognised by law, and implemented under a standard of self-identification.
                        </blockquote>

                        <p>
                            The United Nations High Commissioner for Human Rights goes into more detail, recommending that:<sup>[<a href="#ref:unhr:free-and-eq" class="cite"></a>: p. 121]</sup>
                        </p>
                        <blockquote>
                            states should provide a straightforward administrative process to officially recognize the self-identified gender identity and name of transgender persons through a simple declaration without such requirements as medical certification or diagnosis, surgery or medical treatment, divorce or sterilization.
                            This process should include the ability to obtain new official documents reflecting self-identified gender, first name, gender marker and appearance. [...]
                            Legislation should allow for recognition of non-binary gender identities.
                            Minors should have access to recognition of their gender identity.
                        </blockquote>

                        <p>This is supported in another of the <abbr title="Independent Expert on protection against violence and discrimination based on Sexual Orientation and Gender Identity">IESOGI</abbr>'s reports:<sup>[<a href="#ref:iesogi:protection" class="cite"></a>: &para;21 and &para;23]</sup></p>
                        <blockquote>
                            Self-determined gender is a fundamental part of a person&rsquo;s free and autonomous choice in relation to roles, feelings, forms of expression and behaviours, and a corner stone of the person&rsquo;s identity.
                            The resulting obligation of States is to provide access to gender recognition in a manner consistent with the rights to freedom from discrimination, equal protection of the law, privacy, identity and freedom of expression. [...]
                            lack of legal recognition negates the identity of the concerned persons to such an extent that it provokes what can be described as a fundamental rupture of State obligations.
                        </blockquote>

                        <p>Furthermore, the Yogyakarta Principles establish that states shall:<sup>[<a href="#ref:yprinciples" class="cite"></a>: Principle 3(B-C)]</sup></p>
                        <blockquote>
                            take all necessary legislative, administrative and other measures to fully respect and legally recognise each person’s self-defined gender identity;
                        </blockquote>
                        <blockquote>
                            take all necessary legislative, administrative and other measures to ensure that procedures exist whereby all state-issued identity papers which indicate a person’s gender/sex — including birth certificates, passports, electoral records and other documents — reflect the person’s profound self-defined gender identity;
                        </blockquote>

                        <p>This is expanded upon in the Yogyakarta Principles plus 10, which call on states to:<sup>[<a href="#ref:yprinciples+10" class="cite"></a>: Principle 31(C)]</sup></p>
                        <blockquote>
                            While sex or gender continues to be registered:
                            <ol type="i">
                                <li>Ensure a quick, transparent, and accessible mechanism that legally recognises and affirms each person&rsquo;s self-defined gender identity;</li>
                                <li>Make available a multiplicity of gender marker options;</li>
                                <li>Ensure that no eligibility criteria, such as medical or psychological interventions, a psycho-medical diagnosis, minimum or maximum age, economic status, health, marital or parental status, or any other third party opinion, shall be a prerequisite to change one’s name, legal sex or gender;</li>
                            </ol>
                        </blockquote>

                        <p>The <abbr title="Independent Expert on protection against violence and discrimination based on Sexual Orientation and Gender Identity">IESOGI</abbr> combats so-called &ldquo;gender-critical&rdquo; arguments (more below):<sup>[<a href="#ref:iesogi:uk" class="cite"></a>: p. 13]</sup></p>
                        <blockquote>
                            the human rights of trans women are not dependent on the hypothetical risk that predatory men could disguise themselves as such and perpetrate crime [...]
                        </blockquote>
                        <blockquote>
                            in the countries that have legal recognition of gender identity based on self-identification, there is no credible evidence to suggest systemic risk of predatory men using the process of identifying and living as a woman as an opportunity to perpetrate gender or sexual-based violence.
                        </blockquote>

                        <p>These opinions are not restricted to the UN either (not that it would matter if so); the Parliamentary Assembly of the Council of Europe called on states to:<sup>[<a href="#ref:eu:res2048" class="cite"></a>: &para;6.2]</sup></p>
                        <blockquote>
                            develop quick, transparent and accessible procedures, based on self-determination, for changing the name and registered sex of transgender people on birth certificates, identity cards, passports, educational certificates and other similar documents; make these procedures available for all people who seek to use them, irrespective of age, medical status, financial situation or police record;
                        </blockquote>
                        <blockquote>
                            abolish sterilisation and other compulsory medical treatment, as well as a mental health diagnosis, as a necessary legal requirement to recognise a person’s gender identity in laws regulating the procedure for changing a name and registered gender;
                        </blockquote>
                        <blockquote>
                            consider including a third gender option in identity documents for those who seek it;
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button id="intl:gc:btn" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#intl-topics-gc"
                            aria-expanded="false" aria-controls="intl-topics-gc">
                        &ldquo;Gender Critical&rdquo; Arguments
                    </button>
                </h2>
                <div id="intl-topics-gc" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>In another of their publications, the <abbr title="Independent Expert on protection against violence and discrimination based on Sexual Orientation and Gender Identity">IESOGI</abbr> comments that:<sup>[<a href="#ref:iesogi:law-practices" class="cite"></a>: p. 6]</sup></p>
                        <blockquote>
                            the notion of &ldquo;gender ideology&rdquo; was created by religious leaders to halt advances regarding women&rsquo;s empowerment
                        </blockquote>
                        <p>and:</p>
                        <blockquote>
                            there is no justification to defend a system of oppression to the detriment of the individual; on the contrary, there is a moral imperative to defend the individual&rsquo;s freedom from violence and discrimination.
                            States have before them an urgent duty to establish legal gender recognition based on self-determination - while they fail to do so, they continue to enable much human rights abuse around the world.
                        </blockquote>

                        <p>The EU supports this, saying:<sup>[<a href="#ref:eu:combatting:C" class="cite"></a>: &para;13-14]</sup></p>
                        <blockquote>
                            gender-critical movements [...] ignore the fundamental human rights issues at stake – the fight for recognition and equal rights – and wrongly characterise efforts to deconstruct deeply harmful gender stereotypes in our societies as so-called &ldquo;gender ideology&rdquo;.
                        </blockquote>

                        <p>Being even more explicit:</p>
                        <blockquote>
                            these movements [...] directly [violate] women&rsquo;s, children&rsquo;s and LGBTI people&rsquo;s human rights.
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button id="intl:ss:btn" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#intl-topics-spaces"
                            aria-expanded="false" aria-controls="intl-topics-spaces">
                        &ldquo;Single-Sex&rdquo; Spaces
                    </button>
                </h2>
                <div id="intl-topics-spaces" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button id="intl:prisons:btn" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#intl-topics-prisons"
                            aria-expanded="false" aria-controls="intl-topics-prisons">
                        Prisons
                    </button>
                </h2>
                <div id="intl-topics-prisons" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>As very well put by the UN High Commissioner for Human Rights:<sup>[<a href="#ref:unhr:free-and-eq" class="cite"></a>: p. 128]</sup></p>
                        <blockquote>
                            Allocation and treatment of transgender detainees should be made on the basis of the detainee’s self-identified gender – not birth sex, gender markers on official documents, surgery, medical treatment or diagnostic.
                            Officials should use the name and pronouns preferred by the detainee.
                            Transgender detainees should be free to express their self-identified gender, including through their choice of clothing.
                            They should be able to choose the gender of officers carrying out any searches, including on specific body parts.
                        </blockquote>

                        <p>In coming to this decision, they note that:<sup>[<a href="#ref:unhr:free-and-eq" class="cite"></a>: p. 42]</sup></p>
                        <blockquote>
                            A gap noted in the preparation of the present report concerns reliance on legal gender status, rather than self-identified gender, as the basis for recognizing a detainee’s gender identity.
                            This exposes transgender detainees who have not obtained legal recognition of their identity to a range of violations and safety and security risks, highlighting the need for treatment of transgender detainees to be based on self-identification instead, even when legal recognition has not (yet) been obtained.
                        </blockquote>

                        <p>According to the &ldquo;Nelson Mandela Rules&rdquo;, prison filing systems should record:<sup>[<a href="#ref:mandela" class="cite"></a>: Rule 7(a)]</sup></p>
                        <blockquote>
                            Precise information enabling determination of [the prisoner&rsquo;s] unique identity, respecting his or her self-perceived gender;
                        </blockquote>

                        <p>As highlighted by Tomris Atabay et. al.:<sup>[<a href="#ref:undoc:special-needs" class="cite"></a>: pp. 108, 115, 118]</sup></p>
                        <blockquote>
                            Where transgender prisoners are accommodated according to their birth gender, especially when male to female transgender prisoners are placed with men, due to their birth gender being male, this paves the way to sexual abuse and rape.
                        </blockquote>
                        <blockquote>
                            The allocation of transgender prisoners can only be done in consultation with the prisoner concerned on a case-by-case basis.
                            Allocating prisoners according to their birth sex—and especially housing male to female transgender prisoners among male prisoners—actively facilitates the sexual abuse and rape of such offenders, irrespective of whether they have undergone sex reassignment surgery or not.
                        </blockquote>
                        <blockquote>
                            Should a strip search be deemed necessary, transgender prisoners should be provided with a choice regarding the gender of the person conducting the search, to ensure that the search is conducted by a person of the appropriate gender with minimum interference with personal dignity.
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button id="intl:ed:btn" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#intl-topics-ed"
                            aria-expanded="false" aria-controls="intl-topics-ed">
                        Education
                    </button>
                </h2>
                <div id="intl-topics-ed" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade show p-2" id="uk-tab" role="tabpanel" aria-labelledby="about-uk-tab" tabindex="0">
        {#                        <p>In this vien, the Lemkin Institute recently published a &ldquo;Red Flag Alert on Anti-Trans and Intersex Rights&rdquo;,<sup>[<a href="#ref:lemkin:red-flag">3</a>]</sup> specifically noting that the situation in the UK &ldquo;[fits] neatly into the 9th Pattern of Genocide: &ldquo;Denial and/or Prevention of Identity&rdquo;&rdquo;.</p> #}

        <p>The state of trans rights in the UK is very well described by the <abbr title="Independent Expert on protection against violence and discrimination based on Sexual Orientation and Gender Identity">IESOGI</abbr>:<sup>[<a href="#ref:iesogi:uk2" class="cite"></a>: &para;83]</sup></p>
        <blockquote>
            LGBT persons, as well as LGBT-led and LGBT-serving organizations, conduct their lives and work in the United Kingdom under the extreme pressure and hostility of a public debate that questions and undermines the protection of their human rights – rights that are directly connected to their dignity and, in some cases, their very existence.
        </blockquote>

        <div class="accordion" id="uk-topics-accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button id="uk:hrt:btn" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#uk-topics-hrt"
                            aria-expanded="false" aria-controls="uk-topics-hrt">
                        Hormone Replacement Therapy
                    </button>
                </h2>
                <div id="uk-topics-hrt" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button id="uk:legal:btn" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#uk-topics-legal"
                            aria-expanded="false" aria-controls="uk-topics-legal">
                        Legal Gender Recognition
                    </button>
                </h2>
                <div id="uk-topics-legal" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <h3>UK Policy</h3>
                        <p>
                            UK law recognises gender through a person&rsquo;s &ldquo;legal sex&rdquo;, which is either male or female, and can be &ldquo;modified&rdquo; for most purposes by a Gender Recognition Certificate (GRC).
                        </p>

                        <h4>GRC Process</h4>
                        <p>To apply for a GRC, you must:<sup>[<a href="#ref:grc-guidance" class="cite"></a>, <a href="#ref:gra04" class="cite"></a>: &sect;2]</sup></p>
                        <ul>
                            <li>Be at least 18,</li>
                            <li>Have transitioned from male to female, or female to male,</li>
                            <li>Be diagnosed with gender dysphoria, and</li>
                            <li>Have been living in your gender for at least 2 years.</li>
                        </ul>

                        <p>You must also provide:</p>
                        <ul>
                            <li>A <abbr title="A declaration signed by a qualified professional.">statutory declaration</abbr>, stating that the above are true, the sex you have transitioned to, the date on which you transitioned, whether you are married or in a civil partnership, and details thereof,</li>
                            <li>Your certified birth/adoption certificate,</li>
                            <li>Evidence of name changes, where you have changed your name,</li>
                            <li>Evidence that you&rsquo;ve lived in your affirmed gender for the last 2 years,</li>
                            <li>
                                Two medical reports, one being written by an expert in gender identity and specifying:
                                <ul>
                                    <li>Your diagnosis of gender dysphoria,</li>
                                    <li>The reasons for this diagnosis.</li>
                                </ul>
                                Either of the reports must also specify any/all gender-affirming treatment you have had and plan to have.
                            </li>
                        </ul>

                        <h4><i>For Women Scotland v The Scottish Ministers</i> [2025] UKSC 16</h4>
                        <p>The UK Supreme Court, in <i>For Women Scotland v The Scottish Ministers</i>, decided that:</p>
                        <ol>
                            <li>&ldquo;Sex&rdquo;, in the Equality Act 2010, refers to one&rsquo;s sex assigned at birth, and is not modified by a GRC, and</li>
                            <li>The disapplication of the Gender Recognition Act 2004, by virtue of subsection 9(3)(1) of that Act, does not need to be explicit.</li>
                        </ol>
                        <p>This change in legislative interpretation removed trans people&rsquo;s right to access single-sex spaces and enforced a discriminatory, reductive, definition of sex in law.</p>

                        <h3>Compared to International Opinion</h3>

                        <h4>Self-ID</h4>
                        <p>The UK does not operate on a system of self-identification; on 19 March 2025, the Government said:<sup>[<a href="#ref:petition:self-id" class="cite"></a>]</sup></p>
                        <blockquote>
                            The Gender Recognition Act 2004 is a robust piece of legislation that reflects the seriousness of changing a person&rsquo;s legal gender.
                            The Government will not be introducing self-identification.
                        </blockquote>
                        <p>This is at odds to the international opinion that:<sup>[<a href="#ref:iesogi:uk" class="cite"></a>: p. 3]</sup></p>
                        <blockquote>
                            gender identity must be recognised by law, and implemented under a standard of self-identification
                        </blockquote>
                        <p>This was most recently recommended to the UK by the <abbr title="Independent Expert on protection against violence and discrimination based on Sexual Orientation and Gender Identity">IESOGI</abbr> on 11 April 2024:<sup>[<a href="#ref:iesogi:uk2" class="cite"></a>: p. 17]</sup></p>
                        <blockquote>
                            [The UK should] simplify the administrative process of legal recognition of gender identity, in accordance with internationally recognized good practices of legal recognition of gender identity based on self-determination by the applicant, without abusive requirements, including for non-binary persons and children;
                        </blockquote>

                        <h4>Medical Requirements</h4>
                        <p>
                            A system of self-identification would necessarily do without any medical requirement, but it is still interesting to interrogate on its own.
                            On 19 March 2025, the Government said (my emphasis):<sup>[<a href="#ref:petition:self-id" class="cite"></a>]</sup>
                        </p>
                        <blockquote>
                            The Government is committed to modernising, simplifying and reforming the legal gender recognition process to remove indignities for trans people <strong>whilst retaining the need for a diagnosis of gender dysphoria</strong>.
                        </blockquote>
                        <p>However, it was previously recommended by the House of Commons' Women and Equalities Committee that:<sup>[<a href="#ref:wec:reform-gra" class="cite"></a>: &para;97]</sup></p>
                        <blockquote>
                            The Government should remove the diagnosis of gender dysphoria from the Gender Recognition Act by 2023, reflecting the support for this in responses to its own consultation.
                        </blockquote>
                        <p>This is supported by a vast array of international resources listed prior.</p>

                        <p>Most recently, a trans man was refused a GRC because he was trying to conceive;<sup>[<a href="#ref:glp:mpreg" class="cite"></a>]</sup> this seems blatantly contrary to the prior-analysed statements that gender recognition must not require sterilisation.<sup>[e.g., <a href="#ref:unhr:free-and-eq" class="cite"></a>: p. 121]</sup></p>

                        <h4>Non-Binary Genders</h4>
                        <p>
                            The UK only recognises &ldquo;male&rdquo; and &ldquo;female&rdquo;; UK courts have upheld this as being inline with international obligations.<sup>[<a href="#ref:c-v-grp" class="cite"></a>, <a href="#ref:ec-v-hs" class="cite"></a>]</sup>
                            This, of course, goes against the recommendation of the UN High Commissioner for Human Rights that &ldquo;legislation should allow for recognition of non-binary gender identities&rdquo;<sup>[<a href="#ref:unhr:free-and-eq" class="cite"></a>: p. 121]</sup>, Council of Europe recommendation that &ldquo;[states should] consider including a third gender option in identity documents for those who seek it&rdquo;,<sup>[<a href="#ref:eu:res2048" class="cite"></a>: 6.2.4]</sup> and others.
                        </p>

                        <h4>Children</h4>
                        <p>
                            As one must be 18 or older to apply for a GRC, this process is not open to children.
                            This is contrary to international opinion and recommendations.
                        </p>

                        <h4>Timescales</h4>
                        <p>
                            Nominally, the GRC process should take 2 years (&ldquo;have been living in your gender for at least 2 years&rdquo;) + 22 weeks (&ldquo;the panel will usually look at your application within 22 weeks of applying&rdquo;).
                            However, this overlooks the drastic issues with accessing healthcare right now.
                        </p>
                        <p>
                            As a GRC application requires a diagnosis of gender dysphoria, one must consider the time that that takes to get.
                            Such a diagnosis is only made from practitioners within a Gender Identity Clinic (GIC).
                            To get a diagnosis, one will need to:
                        </p>
                        <ol>
                            <li>Get referred, as some clinics do not allow for self-referrals (note: success in being referred is dependent on how accepting one&rsquo;s GP is),</li>
                            <li>Wait for 1-8 years for the first appointment (typically on the higher end of that range),<sup>[<a href="#ref:ta:gics" class="cite"></a>]</sup></li>
                            <li>Wait around 1 year for a second appointment, where a diagnosis may be made.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button id="uk:gc:btn" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#uk-topics-gc"
                            aria-expanded="false" aria-controls="uk-topics-gc">
                        &ldquo;Gender Critical&rdquo; Arguments
                    </button>
                </h2>
                <div id="uk-topics-gc" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button id="uk:ss:btn" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#uk-topics-spaces"
                            aria-expanded="false" aria-controls="uk-topics-spaces">
                        &ldquo;Single-Sex&rdquo; Spaces
                    </button>
                </h2>
                <div id="uk-topics-spaces" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button id="uk:prisons:btn" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#uk-topics-prisons"
                            aria-expanded="false" aria-controls="uk-topics-prisons">
                        Prisons
                    </button>
                </h2>
                <div id="uk-topics-prisons" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <h3>UK Policy</h3>

                        <p>
                            Current UK policy houses trans men in line with their &ldquo;legal&rdquo; gender (as modified by a Gender Recognition Certificate<sup>[<a href="#ref:psi:trans" class="cite"></a>: p. 9]</sup>).
                            Trans women, however, can only be housed in the women&rsquo;s estate if they have no history of sexual or violent offending, no birth genitalia, and a Gender Recognition Certificate.<sup>[<a href="#ref:psi:trans-diagram" class="cite"></a>]</sup>
                        </p>

                        <img src="{% static 'images/2024_11_14_Annex_A_-_Transgender_Prisoners_-_Initial_Allocation_Process_Map.pdf.png' %}" alt="A flowchart explaining the placement of transgender prisoners in the UK" width="60%" class="p-3" />

                        <h3>Compared to International Opinion</h3>
                        <p>It is no suprise that &ldquo;there [have] been incidents of suicides by trans women held in men&rsquo;s prisons&rdquo;.<sup>[<a href="#ref:iesogi:uk2" class="cite"></a>: &para;66]</sup></p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button id="uk:ed:btn" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#uk-topics-ed"
                            aria-expanded="false" aria-controls="uk-topics-ed">
                        Education
                    </button>
                </h2>
                <div id="uk-topics-ed" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="mt-4">References</h2>
    <ol id="refs">
        <li id="ref:iesogi:uk">
            <abbr title="Independent Expert on protection against violence and discrimination based on Sexual Orientation and Gender Identity">IESOGI</abbr>, <a href="https://spcommreports.ohchr.org/TMResultsBase/DownLoadPublicCommunicationFile?gId=27757" target="_blank">&ldquo;Mandate of the Independent Expert on protection against violence and discrimination based on sexual orientation and gender identity&rdquo;</a> (OL GBR 15/2022, 13 December 2022).
        </li>
        <li id="ref:unhr:free-and-eq">
            United Nations High Commissioner for Human Rights, <a href="https://www.ohchr.org/sites/default/files/Documents/Publications/LivingFreeAndEqual.pdf" target="_blank">&ldquo;Living Free and Equal&rdquo;</a> (October 2016).
        </li>
        <li id="ref:lemkin:red-flag">
            Lemkin Institute, <a href="https://www.lemkininstitute.com/red-flag-alerts/red-flag-alert-on-anti-trans-and-intersex-rights-in-the-uk" target="_blank">&ldquo;Red Flag Alert on Anti-Trans and Intersex Rights in the UK&rdquo;</a> (30 June 2025).
        </li>
        <li id="ref:iesogi:law-practices">
            <abbr title="Independent Expert on protection against violence and discrimination based on Sexual Orientation and Gender Identity">IESOGI</abbr>, <a href="https://www.ohchr.org/sites/default/files/Documents/Issues/SexualOrientation/IESOGI/Reports_on_Gender_Final_Summary.pdf" target="_blank">&ldquo;Reports on Gender: The Law of Inclusion &amp; Practices of Exclusion&rdquo;</a> (2021).
        </li>
        <li id="ref:iesogi:protection">
            <abbr title="Independent Expert on protection against violence and discrimination based on Sexual Orientation and Gender Identity">IESOGI</abbr>, <a href="https://docs.un.org/en/A/73/152" target="_blank">&ldquo;Protection against violence and discrimination based on sexual orientation and gender identity&rdquo;</a> (A/73/152, 12 July 2018).
        </li>
        <li id="ref:eu:res2048">
            Parliamentary Assembly Resolution 2048 (2015), <a href="https://assembly.coe.int/nw/xml/XRef/Xref-XML2HTML-EN.asp?fileid=21736" target="_blank">&ldquo;Discrimination against transgender people in Europe&rdquo;</a> (adopted 22 April 2015).
        </li>
        <li id="ref:eu:combatting:C">
            Fourat Ben Chikha, explanatory memorandum to <a href="https://pace.coe.int/en/files/29712/html" target="_blank">&ldquo;Combating rising hate against LGBTI people in Europe&rdquo;</a> (Committee on Equality and Non-Discrimination, Doc. 15425, 17 December 2021).
        </li>
        <li id="ref:psi:trans">
            Ministry of Justice and HM Prison and Probation Service,<a href="https://www.gov.uk/government/publications/the-care-and-management-of-individuals-who-are-transgender" target="_blank">&ldquo;The care and management of individuals who are transgender&rdquo;</a> (updated 14 November 2024).
        </li>
        <li id="ref:psi:trans-diagram">
            Ministry of Justice and HM Prison and Probation Service, Annex A to <a href="https://www.gov.uk/government/publications/the-care-and-management-of-individuals-who-are-transgender" target="_blank">&ldquo;The care and management of individuals who are transgender&rdquo;</a> (updated 14 November 2024).
        </li>
        <li id="ref:grc-guidance">
            Gov.uk, <a href="https://www.gov.uk/apply-gender-recognition-certificate/what-documents-you-need" target="_blank">&ldquo;Apply for a Gender Recognition Certificate: What documents you need&rdquo;</a>.
        </li>
        <li id="ref:gra04">
            Gender Recognition Act 2004.
        </li>
        <li id="ref:petition:self-id">
            <a href="https://petition.parliament.uk/petitions/701159" target="_blank">&ldquo;Allow transgender people to self-identify their legal gender&rdquo;</a> (UK Government and Parliament Petitions).
        </li>
        <li id="ref:iesogi:uk2">
            <abbr title="Independent Expert on protection against violence and discrimination based on Sexual Orientation and Gender Identity">IESOGI</abbr>, <a href="https://docs.un.org/en/A/HRC/56/49/ADD.1" target="_blank">&ldquo;Visit to the United Kingdom of Great Britain and Northern Ireland&rdquo;</a> (A/HRC/56/49/Add.1, 11 April 2024).
        </li>
        <li id="ref:wec:reform-gra">
            Women and Equalities Committee, <a href="https://committees.parliament.uk/publications/8329/documents/84728/default/" target="_blank">&ldquo;Reform of the Gender Recognition Act&rdquo;</a> (House of Commons, HC 977, 15 December 2021).
        </li>
        <li id="ref:c-v-grp">
            <i>R (Castellucci) v Gender Recognition Panel</i> [2025] EWCA Civ 167.
        </li>
        <li id="ref:ec-v-hs">
            <i>R (Elan-Cane) v Secretary of State for the Home Department</i> [2021] UKSC 56.
        </li>
        <li id="ref:glp:mpreg">
            Good Law Project, <a href="https://goodlawproject.org/trans-people-must-be-allowed-to-have-children/" target="_blank">&ldquo;Trans people must be allowed to have children&rdquo;</a> (9 July 2025).
        </li>
        <li id="ref:ta:gics">
            TransActual, <a href="https://transactual.org.uk/medical-transition/gender-dysphoria-clinics/" target="_blank">&ldquo;Gender Clinics&rdquo;</a> (4 April 2025).
        </li>
        <li id="ref:yprinciples">
            The <a href="http://www.yogyakartaprinciples.org/" target="_blank">Yogyakarta Principles</a> on the Application of International Human Rights Law in relation to Sexual Orientation and Gender Identity (2006).
        </li>
        <li id="ref:yprinciples+10">
            <a href="http://www.yogyakartaprinciples.org/" target="_blank">Yogyakarta Principles</a> plus 10 (10 November 2017).
        </li>
        <li id="ref:mandela">
            UN General Assembly, <a href="https://www.unodc.org/documents/middleeastandnorthafrica/Nelson_Mandela/A-RES-70-175_on_the_UN_SMRs_English.pdf" target="_blank">&ldquo;United Nations Standard Minimum Rules for the Treatment of Prisoners (the Nelson Mandela Rules)&rdquo;</a> (A/RES/70/175, adopted 17 December 2015).
        </li>
        <li id="ref:undoc:special-needs">
            Tomris Atabay et. al., <a href="https://www.unodc.org/documents/justice-and-prison-reform/Prisoners-with-special-needs.pdf" target="_blank">&ldquo;Handbook on
            Prisoners with special needs&rdquo;</a> (United Nations Office on Drugs and Crime, 2009).
        </li>
    </ol>
</div>

<script>
    /* Auto-number all citations */
    let ref_lookup = {};
    let all_refs = document.querySelectorAll("#refs li");
    for (let i = 0; i < all_refs.length; i++) {
        ref_lookup[all_refs[i].id] = i + 1;
    }

    for (let e of document.getElementsByClassName("cite")) {
        e.innerText = ref_lookup[e.href.substring(e.href.indexOf("#") + 1)];
    }
</script>
<script>
    /* Load or init state */
    let _state = localStorage.getItem("trans:state");
    let state = {
        subs: {}
    }
    if (_state != null) {
        try {
            state = JSON.parse(_state);
        } catch (e) {
            console.log(e);
        }
    }

    /* State handling functions */
    function save_state () {
        localStorage.setItem("trans:state", JSON.stringify(state));
    }

    function change_main(to) {
        state.main = to;
        save_state();
    }

    function toggle_sub(id) {
        if (state.subs.hasOwnProperty(id)) {
            state.subs[id] = !state.subs[id];
        } else {
            // Assume false by default, therefore toggle to open
            state.subs[id] = true;
        }

        save_state();
    }

    /* Set main - only bother with uk tab */
    if (state.hasOwnProperty("main") && state.main == "about-uk-tab") {
        // Buttons
        let intl = document.getElementById("about-intl-topics-tab");
        intl.classList.remove("active");
        intl.ariaSelected = "false";

        let uk = document.getElementById("about-uk-tab");
        uk.classList.add("active");
        uk.ariaSelected = "true";

        // Tabs
        let intl_tab = document.getElementById("intl-topics-tab");
        intl_tab.classList.remove("active", "show");

        let uk_tab = document.getElementById("uk-tab");
        uk_tab.classList.add("active", "show");
    }

    /* Set subs */
    for (let [e, v] of Object.entries(state.subs)) {
        if (v) {
            let elem = document.getElementById(e);

            elem.classList.remove("collapsed")
            elem.ariaExpanded = "true";

            document.getElementById(elem.getAttribute("aria-controls")).classList.add("show");
        }
    }

    /* Setup hooks */
    function open_main(id) { change_main(id) }

    for (let e of document.getElementsByClassName("accordion-button")) {
        e.addEventListener("click", (e) => {
            toggle_sub(e.target.id)
        })
    }
</script>
{% endblock %}