{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <style>
        .timeline {
            padding: 10px
        }

        .timeline dt {

        }

        .timeline dt .date {

        }

        .timeline dt .date::after {
            content: ":"
        }

        .timeline dt .source {

        }

        blockquote {
            padding-left: 2em;
            text-align: justify;
            width: 80%
        }

        blockquote::before {
            content: "\F6B0";
            font-family: bootstrap-icons;
            font-size: x-large;
        }

        blockquote .cite {
            float: right;
        }
    </style>
{% endblock %}

{% block title %}Trans Rights and the UK{% endblock %}

{% block content %}
<h1 class="accordion-header">
    The UK&rsquo;s Failings on Trans Rights
</h1>
<p>The following takes two parts:</p>
<ol>
    <li>the current international opinion on the rights of transgender, gender diverse, and gender non-confirming people, and</li>
    <li>the <abbr title="United Kingdom of Great Britain and Northern Ireland">UK</abbr>&rsquo;s failings to meet this standard.</li>
</ol>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="about-intl-tab" data-bs-toggle="tab" data-bs-target="#intl-tab"
                type="button" role="tab" aria-controls="intl-tab" aria-selected="true">International Opinion</button>
        <button class="nav-link" id="about-uk-tab" data-bs-toggle="tab" data-bs-target="#uk-tab"
                type="button" role="tab" aria-controls="uk-tab" aria-selected="false">The UK&rsquo;s Failings</button>
    </div>
</nav>

<div class="tab-content" id="tab-content">
    <div class="tab-pane fade show active p-2" id="intl-tab" role="tabpanel" aria-labelledby="about-intl-tab" tabindex="0">
        <p>The following is a timeline of select quotes from different international publications.</p>

        <dl class="timeline">
            <dt id="trans-intl:CM2010-5">
                <span class="date">31/03/2010</span>
                <span class="source">
                    <a href="https://search.coe.int/cm?i=09000016805cf40a" target="_blank">
                        Recommendation of the Committee of Ministers to member states on measures to combat discrimination on grounds of sexual orientation or gender identity [CM/Rec(2010)5]
                    </a>
                </span>
            </dt>
            <dd x-related="trans-intl:CM2010-5">
                <p>In the Appendix to this recommendation, the Committee of Ministers of the Council of Europe state that (select quotes):</p>

                <blockquote>
                    Member states should raise awareness among public authorities and public institutions at all levels of their responsibility to refrain from statements,
                    in particular to the media, which may reasonably be understood as legitimising such hatred or discrimination.
                    Public officials and other state representatives should be encouraged to promote tolerance and respect for the human rights of lesbian, gay, bisexual and transgender persons
                    whenever they engage in a dialogue with key representatives of the civil society, including media and sports organisations, political organisations and religious communities.
                    <span class="cite">[7-8]</span>
                </blockquote>

                <blockquote>
                    Member states should ensure that non-governmental organisations defending the human rights of lesbian, gay, bisexual and transgender persons
                    are appropriately consulted on the adoption and implementation of measures that may have an impact on the human rights of these persons.
                    <span class="cite">[12]</span>
                </blockquote>

                <blockquote>
                    Public authorities at all levels should be encouraged to publicly condemn, notably in the media, any unlawful interferences with the right of individuals and groups of individuals
                    to exercise their freedom of expression and peaceful assembly, notably when related to the human rights of lesbian, gay, bisexual and transgender persons.
                    <span class="cite">[17]</span>
                </blockquote>

                <blockquote>
                    Prior requirements, including changes of a physical nature, for legal recognition of a gender reassignment, should be regularly reviewed in order to remove abusive requirements.
                    Member states should take appropriate measures to guarantee the full legal recognition of a person’s gender reassignment in all areas of life, in particular by making possible the change
                    of name and gender in official documents in a quick, transparent and accessible way; member states should also ensure, where appropriate,
                    the corresponding recognition and changes by non-state actors with respect to key documents, such as educational or work certificates.
                    <span class="cite">[20-21]</span>
                </blockquote>

                <blockquote>
                    Member states should take appropriate legislative and other measures to ensure that the highest attainable standard of health can be effectively enjoyed without discrimination
                    on grounds of sexual orientation or gender identity; in particular, they should take into account the specific needs of lesbian, gay, bisexual and transgender persons in the
                    development of national health plans including suicide prevention measures, health surveys, medical curricula, training courses and materials, and when monitoring and evaluating the quality of health-care services.
                    Member states should take appropriate measures to ensure that transgender persons have effective access to appropriate gender reassignment services, including psychological,
                    endocrinological and surgical expertise in the field of transgender health care, without being subject to unreasonable requirements; no person should be subjected to gender reassignment procedures without his or her consent.
                    <span class="cite">[33,35]</span>
                </blockquote>
            </dd>

            <dt id="trans-intl:res2048-2015">
                <span class="date">22/05/2015</span>
                <span class="source">
                    <a href="https://assembly.coe.int/nw/xml/XRef/Xref-XML2HTML-EN.asp?fileid=21736" target="_blank">
                        Discrimination against transgender people in Europe [Resolution 2048 (2015)]
                    </a>
                </span>
            </dt>
            <dd x-related="trans-intl:res2048-2015">
                <p>The Parliamentary Assembly of the Coucil of Europe called on states to (select quotes):</p>

                <blockquote>
                    involve and consult transgender people and their organisations when drafting and implementing policy and legal measures which concern them
                    <span class="cite">[6.1.6]</span>
                </blockquote>

                <blockquote>
                    develop quick, transparent and accessible procedures, based on self-determination, for changing the name and registered sex of transgender people on
                    birth certificates, identity cards, passports, educational certificates and other similar documents; make these procedures available for all people who seek to use them,
                    irrespective of age, medical status, financial situation or police record;
                    abolish sterilisation and other compulsory medical treatment, as well as a mental health diagnosis, as a necessary legal requirement to recognise a person&rsquo;s gender identity
                    in laws regulating the procedure for changing a name and registered gender;
                    consider including a third gender option in identity documents for those who seek it;
                    <span class="cite">[6.2.1-2,4]</span>
                </blockquote>

                <blockquote>
                    make gender reassignment procedures, such as hormone treatment, surgery and psychological support, accessible for transgender people, and ensure that they are reimbursed by public health insurance schemes
                    <span class="cite">[6.3.1]</span>
                </blockquote>
            </dd>

            <dt id="trans-intl:living-free-eq">
                <span class="date">??/10/2016</span>
                <span class="source">
                    <a href="https://www.ohchr.org/sites/default/files/Documents/Publications/LivingFreeAndEqual.pdf" target="_blank">
                        Living Free and Equal [HR/PUB/16/3]
                    </a>
                </span>
            </dt>
            <dd x-related="trans-intl:living-free-eq">
                <p>The United Nations High Commissioner for Human Rights, Zeid Ra&rsquo;ad Al Hussein, recommended that states (select quotes):</p>

                <blockquote>
                    provide a straightforward administrative process to officially recognize the self-identified gender identity and name of transgender persons through a
                    simple declaration without such requirements as medical certification or diagnosis, surgery or medical treatment, divorce or sterilization. [...]
                    Legislation should allow for recognition of non-binary gender identities. Minors should have access to recognition of their gender identity.
                    <span class="cite">[p. 121]</span>
                </blockquote>

                <blockquote>
                    establish clear policies and guidelines to protect LGBT and intersex people from violence and discrimination in detention settings,
                    in line with international human rights law standards, including with regard to arrest and police custody, interrogations, allocation,
                    searches, protection from inmate violence, isolation and solitary confinement as protective measures, and access to services and benefits.
                    [...]
                    Allocation and treatment of transgender detainees should be made on the basis of the detainee’s self-identified gender – not birth sex, gender markers on
                    official documents, surgery, medical treatment or diagnostic. Decisions on allocation should be made on a case-by-case basis,
                    in consultation with the detainee. Officials should use the name and pronouns preferred by the detainee. Transgender detainees should be free to
                    express their self-identified gender, including through their choice of clothing. They should be able to choose the gender of officers
                    carrying out any searches, including on specific body parts. Good practice includes establishing a specific care plan that encompasses all aspects
                    of life in detention, including access to gender-affirming treatment and other health services related to the specific health needs of transgender detainees.
                    <span class="cite">[p. 128]</span>
                </blockquote>
            </dd>

            <dt id="trans-intl:coe2025">
                <span class="date">08/07/2025</span>
                <span class="source">
                    <a href="https://www.coe.int/en/web/commissioner/-/united-kingdom-tackling-poverty-is-crucial-to-protect-children-s-human-rights-a-number-of-other-areas-also-call-for-attention" target="_blank">
                        United Kingdom: tackling poverty is crucial to protect children&rsquo;s human rights; a number of other areas also call for attention
                    </a>
                </span>
            </dt>
            <dd x-related="trans-intl:coe2025">
                <p>
                    Following his visit to the UK, the Council of Europe Commissioner for Human Rights, Michael O&rsquo;Flaherty,
                    expressed his &ldquo;[concern] about the current climate for trans people&rdquo;.
                    He said:
                </p>

                <blockquote>
                    Although they constitute a very small proportion of the population, and face acute marginalisation across all areas of life, trans people have been subject to intense political and public debate and scrutiny, including in the wake of the Supreme Court&rsquo;s judgment in <i>For Women Scotland Ltd. v. The Scottish Ministers</i>.
                    He observes a tendency to see the human rights of different groups as a zero-sum game, when in reality any tensions will likely be exceptional; nuanced, reasonable and balanced accommodations can be found.
                    He deplores that discussions tend towards the exclusion of trans people from many aspects of society, rather than ensuring that their inclusion and dignity are upheld.
                    The Commissioner reiterates that all relevant legal or policy developments must be human rights-compliant, including in view of the case law of the European Court of Human Rights and other international instruments.
                </blockquote>
            </dd>
        </dl>
    </div>

    <div class="tab-pane fade show p-2" id="uk-tab" role="tabpanel" aria-labelledby="about-uk-tab" tabindex="0">
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    </div>
</div>
{% endblock %}