{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <style>
        blockquote {
            padding-left: 2em;
            text-align: justify;
            width: 80%
        }

        blockquote::before {
            content: "\F6B0";
            font-family: bootstrap-icons;
            font-size: x-large;
        }
    </style>
{% endblock %}

{% block title %}Trans Rights and the UK{% endblock %}

{% block content %}
<h1 class="pb-2">
    The UK&rsquo;s Failings on Trans Rights
</h1>
<p>The following takes two parts:</p>
<ol>
    <li>the current international opinion on the rights of transgender, gender diverse, and gender non-confirming people, and</li>
    <li>the UK&rsquo;s failings to meet this standard.</li>
</ol>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="about-intl-topics-tab" data-bs-toggle="tab" data-bs-target="#intl-topics-tab"
                type="button" role="tab" aria-controls="intl-topics-tab" aria-selected="true">International Opinion:
            Topics</button>
        <button class="nav-link" id="about-uk-tab" data-bs-toggle="tab" data-bs-target="#uk-tab"
                type="button" role="tab" aria-controls="uk-tab" aria-selected="false">The UK&rsquo;s Failings</button>
    </div>
</nav>

<div class="tab-content" id="tab-content">
    <div class="tab-pane fade show active p-2" id="intl-topics-tab" role="tabpanel" aria-labelledby="about-intl-topics-tab"
         tabindex="0">
        <div class="accordion" id="intl-topics-accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#intl-topics-hrt"
                            aria-expanded="false" aria-controls="intl-topics-hrt">
                        Hormone Replacement Therapy
                    </button>
                </h2>
                <div id="intl-topics-hrt" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#intl-topics-legal"
                            aria-expanded="false" aria-controls="intl-topics-legal">
                        Legal Gender Recognition
                    </button>
                </h2>
                <div id="intl-topics-legal" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>
                            As very succinctly put by the UN Independent Expert on protection against violence and discrimination based on sexual orientation and gender identity (IESOGI), in a letter to the government of the UK:<sup>[<a href="#ref:iesogi:uk" class="cite"></a>: p. 3]</sup>
                        </p>
                        <blockquote>
                            gender identity must be recognised by law, and implemented under a standard of self-identification.
                        </blockquote>

                        <p>
                            The United Nations High Commissioner for Human Rights goes into more detail, recommending that:<sup>[<a href="#ref:unhr:free-and-eq" class="cite"></a>: p. 121]</sup>
                        </p>
                        <blockquote>
                            states should provide a straightforward administrative process to officially recognize the self-identified gender identity and name of transgender persons through a simple declaration without such requirements as medical certification or diagnosis, surgery or medical treatment, divorce or sterilization.
                            This process should include the ability to obtain new official documents reflecting self-identified gender, first name, gender marker and appearance. [...]
                            Legislation should allow for recognition of non-binary gender identities.
                            Minors should have access to recognition of their gender identity.
                        </blockquote>

                        <p>This is supported in another of the IESOGI's reports:<sup>[<a href="#ref:iesogi:protection" class="cite"></a>: &para;21 and &para;23]</sup></p>
                        <blockquote>
                            Self-determined gender is a fundamental part of a person&rsquo;s free and autonomous choice in relation to roles, feelings, forms of expression and behaviours, and a corner stone of the person&rsquo;s identity.
                            The resulting obligation of States is to provide access to gender recognition in a manner consistent with the rights to freedom from discrimination, equal protection of the law, privacy, identity and freedom of expression. [...]
                            lack of legal recognition negates the identity of the concerned persons to such an extent that it provokes what can be described as a fundamental rupture of State obligations.
                        </blockquote>

                        <p>The IESOGI combats so-called &ldquo;gender-critical&rdquo; arguments (more below):<sup>[<a href="#ref:iesogi:uk" class="cite"></a>: p. 13]</sup></p>
                        <blockquote>
                            the human rights of trans women are not dependent on the hypothetical risk that predatory men could disguise themselves as such and perpetrate crime [...]

                            in the countries that have legal recognition of gender identity based on self-identification, there is no credible evidence to suggest systemic risk of predatory men using the process of identifying and living as a woman as an opportunity to perpetrate gender or sexual-based violence.
                        </blockquote>

                        <p>These opinions are not restricted to the UN either; the Parliamentary Assembly of the Council of Europe called on states to:<sup>[<a href="#ref:eu:res2048" class="cite"></a>: &para;6.2]</sup></p>
                        <blockquote>
                            develop quick, transparent and accessible procedures, based on self-determination, for changing the name and registered sex of transgender people on birth certificates, identity cards, passports, educational certificates and other similar documents; make these procedures available for all people who seek to use them, irrespective of age, medical status, financial situation or police record;
                        </blockquote>
                        <blockquote>
                            abolish sterilisation and other compulsory medical treatment, as well as a mental health diagnosis, as a necessary legal requirement to recognise a person’s gender identity in laws regulating the procedure for changing a name and registered gender;
                        </blockquote>
                        <blockquote>
                            consider including a third gender option in identity documents for those who seek it;
                        </blockquote>

                        <p></p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#intl-topics-gc"
                            aria-expanded="false" aria-controls="intl-topics-gc">
                        &ldquo;Gender Critical&rdquo; Arguments
                    </button>
                </h2>
                <div id="intl-topics-gc" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>In another of their publications, the IESOGI comments that:<sup>[<a href="#ref:iesogi:law-practices" class="cite"></a>: p. 6]</sup></p>
                        <blockquote>
                            the notion of &ldquo;gender ideology&rdquo; was created by religious leaders to halt advances regarding women&rsquo;s empowerment
                        </blockquote>
                        <p>and:</p>
                        <blockquote>
                            there is no justification to defend a system of oppression to the detriment of the individual; on the contrary, there is a moral imperative to defend the individual&rsquo;s freedom from violence and discrimination.
                            States have before them an urgent duty to establish legal gender recognition based on self-determination - while they fail to do so, they continue to enable much human rights abuse around the world.
                        </blockquote>

                        <p>The EU supports this, saying:</p>
                        <blockquote>
                            gender-critical movements [...] ignore the fundamental human rights issues at stake – the fight for recognition and equal rights – and wrongly characterise efforts to deconstruct deeply harmful gender stereotypes in our societies as so-called &ldquo;gender ideology&rdquo;.
                        </blockquote>

                        <p>Being even more explicit:</p>
                        <blockquote>
                            these movements [...] directly [violate] women&rsquo;s, children&rsquo;s and LGBTI people&rsquo;s human rights.
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#intl-topics-spaces"
                            aria-expanded="false" aria-controls="intl-topics-spaces">
                        &ldquo;Single-Sex&rdquo; Spaces
                    </button>
                </h2>
                <div id="intl-topics-spaces" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#intl-topics-prisons"
                            aria-expanded="false" aria-controls="intl-topics-prisons">
                        Prisons
                    </button>
                </h2>
                <div id="intl-topics-prisons" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
            </div>

            <h2 class="mt-4">References</h2>
            <ol id="refs">
                <li id="ref:iesogi:uk">
                    IESOGI, <a href="https://spcommreports.ohchr.org/TMResultsBase/DownLoadPublicCommunicationFile?gId=27757" target="_blank">&ldquo;Mandate of the Independent Expert on protection against violence and discrimination based on sexual orientation and gender identity&rdquo;</a> (OL GBR 15/2022, 13 December 2022).
                </li>
                <li id="ref:unhr:free-and-eq">
                    United Nations High Commissioner for Human Rights, <a href="https://www.ohchr.org/sites/default/files/Documents/Publications/LivingFreeAndEqual.pdf" target="_blank">&ldquo;Living Free and Equal&rdquo;</a> (October 2016).
                </li>
                <li id="ref:lemkin:red-flag">
                    Lemkin Institute, <a href="https://www.lemkininstitute.com/red-flag-alerts/red-flag-alert-on-anti-trans-and-intersex-rights-in-the-uk" target="_blank">&ldquo;Red Flag Alert on Anti-Trans and Intersex Rights in the UK&rdquo;</a> (30 June 2025).
                </li>
                <li id="ref:iesogi:law-practices">
                    IESOGI, <a href="https://www.ohchr.org/sites/default/files/Documents/Issues/SexualOrientation/IESOGI/Reports_on_Gender_Final_Summary.pdf" target="_blank">&ldquo;Reports on Gender: The Law of Inclusion &amp; Practices of Exclusion&rdquo;</a>.
                </li>
                <li id="ref:iesogi:protection">
                    IESOGI, <a href="https://docs.un.org/en/A/73/152" target="_blank">&ldquo;Protection against violence and discrimination based on sexual orientation and gender identity&rdquo;</a> (A/73/152, 12 July 2018).
                </li>
                <li id="ref:eu:res2048">
                    Parliamentary Assembly Resolution 2048 (2015) <a href="https://assembly.coe.int/nw/xml/XRef/Xref-XML2HTML-EN.asp?fileid=21736" target="_blank">&ldquo;Discrimination against transgender people in Europe&rdquo;</a> (adopted 22 April 2015).
                </li>
            </ol>
        </div>
    </div>

    <div class="tab-pane fade show p-2" id="uk-tab" role="tabpanel" aria-labelledby="about-uk-tab" tabindex="0">
        {#                        <p>In this vien, the Lemkin Institute recently published a &ldquo;Red Flag Alert on Anti-Trans and Intersex Rights&rdquo;,<sup>[<a href="#ref:lemkin:red-flag">3</a>]</sup> specifically noting that the situation in the UK &ldquo;[fits] neatly into the 9th Pattern of Genocide: &ldquo;Denial and/or Prevention of Identity&rdquo;&rdquo;.</p> #}
    </div>
</div>

<script>
    let ref_lookup = {};
    let all_refs = document.querySelectorAll("#refs li");
    for (let i = 0; i < all_refs.length; i++) {
        ref_lookup[all_refs[i].id] = i + 1;
    }

    for (let e of document.getElementsByClassName("cite")) {
        e.innerText = ref_lookup[e.href.substring(e.href.indexOf("#") + 1)];
    }
</script>
{% endblock %}