{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">
{% endblock %}

{% block title %}terminology{% endblock %}

{% block content %}
    <h1 class="display-1">Inclusive Computing Terminology</h1>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about-tab-pane" 
                    type="button" role="tab" aria-controls="about-tab-pane" aria-selected="true" onclick="tab_switch('about-tab')">About</button>
            <button class="nav-link" id="method-tab" data-bs-toggle="tab" data-bs-target="#method-tab-pane" 
                    type="button" role="tab" aria-controls="method-tab-pane" aria-selected="false" onclick="tab_switch('method-tab')">Methodology</button>
            <button class="nav-link" id="data-tab" data-bs-toggle="tab" data-bs-target="#data-tab-pane" 
                    type="button" role="tab" aria-controls="data-tab-pane" aria-selected="false" onclick="tab_switch('data-tab')">The Data Itself</button>
        </div>
    </nav>
    <div class="tab-content" id="tab-content">
        <div class="tab-pane fade show active" id="about-tab-pane" role="tabpanel" aria-labelledby="about-tab" tabindex="0">
            <p class="pt-3">
                Much computing terminology is based on tradition, with terms of unsavoury origins being common.
                While these terms are not used with any mal-intent today, better alternatives exist.
            </p>

            <p>
                Additionally, many terms are obscure and non-intuitive.
                For example, the terms &ldquo;whitelist&rdquo; or &ldquo;blue team&rdquo; don't mean much to people outside the industry.
                However, alternatives such as &ldquo;allow-list&rdquo; and &ldquo;defensive team&rdquo; are much more understandable.
            </p>
            
            <p>
                If you have any suggestions for terms to be added, changed, or removed, please <a href="{% url 'contact' %}">get in touch</a>.
            </p>
            
            <strong>
                This project is very much a work in progress.  
            </strong>
            
            <h2 class="pt-3">Thanks</h2>
            <p>
                Thanks to <a href="https://rya.nc/" target="_blank">Ryan Castellucci (they/them)</a> for pointing me towards the Google style guide.
            </p>
        </div>
        <div class="tab-pane fade" id="method-tab-pane" role="tabpanel" aria-labelledby="method-tab" tabindex="0">
            <p class="pt-3">
                This whole project was inspired by <a href="https://www.ncsc.gov.uk/blog-post/terminology-its-not-black-and-white" target="_blank">this</a> NCSC blog post that explains why the NCSC moved to &lsquo;allow list&rsquo; and &lsquo;deny list&rsquo; in place of &lsquo;whitelist&rsquo; and &lsquo;blacklist&rsquo;.
            </p>
            
            <p>
                Terms were sourced from the following sources, with some also providing narrative.
                Where alternatives were not given (i.e., the source is just a list of definitions), I relied on judgement, other explanations, and other sources.
            </p>
            
            <ul>
                <li>Association for Computing Machinery, &ldquo;<a href="https://www.acm.org/diversity-inclusion/words-matter" target="_blank">Words Matter</a>&rdquo;.</li>
                <li>Emma W (NCSC), &ldquo;<a href="https://www.ncsc.gov.uk/blog-post/terminology-its-not-black-and-white" target="_blank">Terminology: it's not black and white</a>&rdquo;.</li>
                <li>UK Cyber Security Council, &ldquo;<a href="https://www.ukcybersecuritycouncil.org.uk/glossary/" target="_blank">Glossary of cyber security terms</a>&rdquo;.</li>
                <li>Google, &ldquo;<a href="https://developers.google.com/style/inclusive-documentation" target="_blank">Write inclusive documentation</a>&rdquo;.</li>
                <li>&mdash;, &ldquo;<a href="https://developers.google.com/style/word-list" target="_blank">Word list</a>&rdquo;.</li>
                <li>Microsoft, &ldquo;<a href="https://learn.microsoft.com/en-gb/style-guide/bias-free-communication" target="_blank">Bias-free communication</a>&rdquo;.</li>
                <li>&mdash;, &ldquo;<a href="https://learn.microsoft.com/en-gb/style-guide/militaristic-language" target="_blank">Militaristic language</a>&rdquo;.</li>
                <li>Apple, &ldquo;<a href="https://support.apple.com/en-gb/guide/applestyleguide/apdcb2a65d68/web" target="_blank">Intro to inclusive writing</a>&rdquo;.</li>
                <li>RedHat, &ldquo;<a href="https://redhat-documentation.github.io/supplementary-style-guide/" target="_blank">Red Hat supplementary style guide for product documentation</a>&rdquo;.</li>
            </ul>
            
            <p>
                Additionally, the <a href="https://www.etymonline.com/" target="_blank">Online Etymology Dictionary</a> was helpful in tracing the origins of words.
            </p>
        </div>
        <div class="tab-pane fade" id="data-tab-pane" role="tabpanel" aria-labelledby="data-tab" tabindex="0">            
            <div style="width: 90%">
                <table data-pagination="true" data-search="true" id="table" data-regex-search="true">
                    <thead>
                    <tr>
                        <th data-field="t" data-sortable="true">Term(s)</th>
                        <th data-field="r">Replacement(s)</th>
                        <th data-field="e">Explanation</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script type="module">
        const $table = $("#table");
        const response = await fetch("{% url 'api-terms' %}");
        if (response.ok) {
            const data = await response.json();
            $table.bootstrapTable({data});
        }
    </script>
{% endblock %}