{% extends 'trans/email-base.html' %}

{% load static %}

{% block title %}Trans Rights: Cabinet Office Email{% endblock %}

{% block content %}
    <h1>Cabinet Office Re Transgender Rights</h1>

    <p>I lost access to my correspondence to the Cabinet Office, as it was done through their webform.</p>

    <h2>Cabinet Office Response of 20 August</h2>
    <div class="container-fluid">
    <div class="row">
    <div id="response" class="col rounded border p-3 my-3" style="max-width: max(80%, 800px)">
        <p>Dear Autumn,</p>

        <p>Thank you for contacting the Cabinet Office on <span class="commented">14 July</span><sup>1</sup> about ‘Trans Rights in the UK’.</p>

        <p>
            We appreciate the concerns that you raised in your letter, and would like to take the time to outline the steps that this Government is taking to ensure that everyone, regardless of their sexual orientation or gender identity, can live their lives safely with dignity and respect.
        </p>

        <p>
            Trans people are protected from discrimination and harassment under the Equality Act 2010.
            Those with a Gender Recognition Certificate (GRC) are recognised in their acquired sex and gender in other circumstances unless specific exceptions apply.
            A GRC still allows an individual to legally change their sex for the purposes of a number of important life events, including – birth, death, marriage and civil partnership certificates, for example.
        </p>

        <p>
            Please be assured that this Government is also committed to tackling all forms of hate crime against LGBT+ communities.
            There will be zero tolerance for hate crimes of any kind, and we will always support the police in taking the strongest possible action against the perpetrators of these abhorrent offences.
            We are delivering our manifesto commitment to equalise all existing strands of hate crime to make them aggravated offences, which will ensure parity of protection for LGBT+ and disabled people.
        </p>

        <p>
            This Government believes all people should be able to access the healthcare they need.
            NHS England has increased the number of adult Gender Dysphoria Clinics in England from 7 to 12, with the rollout of 5 new adult gender pilot clinics since July 2020.
            In addition to this, NHS England is carrying out a review of adult gender services, with the aim of producing an updated service specification.
            The Review, which is chaired by Dr David Levy, will examine the model of care and operating procedures of each service, and will carefully consider experiences, feedback and outcomes from clinicians and patients.
        </p>

        <p>
            Further to this, we are committed to improving children’s gender services.
            Better quality evidence is critical if the NHS is to provide reliable, transparent information and advice to support children, young people, their parents and carers in making life-changing decisions.
            We are supporting the NHS in establishing a programme of research to ensure research is embedded at the heart of new children and young people’s gender services as they are shaped.
            The programme includes a planned clinical trial on the safety and effectiveness of puberty blockers, which is due to start this year and will provide the evidence needed for new children and young people’s gender dysphoria services.
        </p>

        <p>
            With regards to the references you made about the recommendations of several intergovernmental organisations concerning the rights of trans people.
            This Government is a proud member of intergovernmental organisations such as the United Nations and the Council of Europe and we strive to uphold the standards set by these bodies.
            We also have a responsibility to ensure that all domestic policy is compatible with our existing national legislative frameworks.
        </p>

        <p>
            Internationally, we are deeply concerned by increasing attempts to roll back or undermine human rights and freedoms of LGBT+ people around the world.
            The UK raises concerns at all levels of government, including through ministerial engagement and our network of over 280 diplomatic missions.
            We encourage all countries to uphold constitutional and international obligations on human rights, including the principles of the UN Charter, the Universal Declaration on Human Rights, and our shared commitment to deliver the 2030 Agenda on Sustainable Development – leaving no one behind.
        </p>

        <p>
            As set out in the King’s Speech, our domestic priorities for trans people are delivering a trans-inclusive ban on conversion practices, as well as strengthening protections from hate crime for trans people and improving healthcare services, as set out above.
        </p>

        <p>Thank you for writing. I hope this information is helpful.</p>

        <p>
            Yours sincerely,<br>
            Tasnia
        </p>

        <p style="font-weight: bold">
            Correspondence Officer<br>
            Public Correspondence Team<br>
            Cabinet Office
        </p>
    </div>
    <div class="col" style="max-width: fit-content">
        <div class="comment">
            <div>
                1
            </div>
            <div>
                It took them over a month to reply.
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}