{% extends 'base.html' %}

{% load static %}

{% block title %}Trans Rights: DHSC Email{% endblock %}

{% block content %}
    <h1>DHSC Re Transgender Healthcare</h1>

    <h2>My Email of 14 July</h2>
    <div id="email" class="rounded border p-3 my-3" style="max-width: max(80%, 800px)">
        <p>Hello,</p>

        <p>I write in relation to transgender healthcare in the UK.</p>

        <p>Please can you inform me of what specific work the DHSC is doing to support and improve access to transgender healthcare in the UK?</p>

        <p>
            Faithfully,<br>
            Autumn R<br>
            (they/she)
        </p>
    </div>

    <h2>DHSC Response of 11 August</h2>
    <div id="response" class="rounded border p-3 my-3" style="max-width: max(80%, 800px)">
        <p>Our ref: DE-1623890</p>

        <p>11 August 2025</p>

        <p>Dear Autumn,</p>

        <p>
            Thank you for your correspondence of 14 July about access to transgender healthcare in the UK.
            I have been asked to reply.
        </p>

        <p>
            NHS England is currently carrying out a review of adult gender services, with the aim of producing an updated service specification.
            The Review, which is chaired by Dr David Levy, will examine the model of care and operating procedures of each service, and will carefully consider experiences, feedback and outcomes from clinicians and patients.
            It will also look at how to overcome the challenges that some individuals face in accessing a timely prescription.
            You can find more information about the Review at the following link <a href="https://www.england.nhs.uk/long-read/terms-of-reference-review-of-the-nhs-adult-gender-dysphoria-clinics-in-england/" target="_blank">www.england.nhs.uk/long-read/terms-of-reference-review-of-the-nhs-adult-gender-dysphoria-clinics-in-england/</a>.
        </p>

        <p>
            The Government and NHS England have made a clear commitment to implement all the recommendations in the Cass Review’s final report.
            NHS England’s two-year action plan sets out how it will continue to transform and improve services, helping to tackle waiting lists while ensuring safe and holistic care.
            More information can be found at <a href="https://www.england.nhs.uk/publication/children-and-young-peoples-gender-services-implementing-the-cass-review-recommendations" target="_blank">www.england.nhs.uk/publication/children-and-young-peoples-gender-services-implementing-the-cass-review-recommendations</a>.
        </p>

        <p>
            NHS England has opened three new services in the North-West, London, and the South West that offer a fundamentally different clinical model, embedding multi-disciplinary teams in specialist children’s hospitals.
            This model includes a nominated paediatrician or psychiatrist with overall clinical responsibility for patient safety in these services.
            A fourth service is expected to open in the East of England later in the year.
            NHS England is aiming to deliver a gender clinic in each region of England by 2026, helping to improve the care offered to children and young people with gender dysphoria and incongruence.
            The Government has heard how important it is to have these services closer to home, and this new approach will deliver this through a matrix of local services working alongside the specialist regional providers.
            As called for by Dr Cass, this will also ensure that children who access these services have the same standards of high-quality care to meet their needs as any other child or young person.
        </p>

        <p>
            In addition to the reform and expansion of gender services for children and young people, NHS England has published a new service specification for the National Referral Support Service for Specialist Services for Children and Young People with Gender Incongruence.
            Now a referral for the specialist Children and Young People’s Gender Service can be only made by an NHS-commissioned, secondary care-level paediatric service or a Children and Young Person mental health service.
            This helps ensure that healthcare professionals with the relevant expertise conduct the assessment and help determine any co-existing mental health or other health needs of these children and their onward care.
        </p>

        <p>
            I hope this reply is helpful.
        </p>

        <p>
            Yours sincerely,<br>
            Correspondence Officer<br>
            Ministerial Correspondence and Public Enquiries<br>
            Department of Health and Social Care
        </p>
    </div>
{% endblock %}