{% extends 'trans-base.html' %}

{% block content %}
    <h1 class="pb-2">
        The UK&rsquo;s Failings on Trans Rights
    </h1>

    <p>
        This work aims to set out
    </p>

    <p>
        Overall, the state of trans rights in the UK is very well described by the {{ acronyms.iesogi }}:<sup>[<a href="#ref:iesogi:uk2" class="cite"></a>: &para;83]</sup>
    </p>
    <blockquote>
        LGBT persons, as well as LGBT-led and LGBT-serving organizations, conduct their lives and work in the United Kingdom under the extreme pressure and hostility of a public debate that questions and undermines the protection of their human rights – rights that are directly connected to their dignity and, in some cases, their very existence.
    </blockquote>

    <p>
        In this vien, the Lemkin Institute recently published a <a href="https://www.lemkininstitute.com/red-flag-alerts/red-flag-alert-on-anti-trans-and-intersex-rights-in-the-uk" target="_blank">&ldquo;Red Flag Alert on Anti-Trans and Intersex Rights&rdquo;</a>, specifically noting that the situation in the UK &ldquo;[fits] neatly into the 9th Pattern of Genocide: &ldquo;Denial and/or Prevention of Identity&rdquo;&rdquo;.
    </p>
{% endblock %}