{% extends 'base.html' %}

{% block extra_head %}
    <style>
        blockquote {
            font-style: italic;
        }

        blockquote::before {
            content: "\F6B0";
            font-family: bootstrap-icons;
            font-size: x-large;
        }

        h2 {
            margin-top: 1em;
        }
    </style>
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h1 class="display-1">{{ article.title }}</h1>
    <p class="text-secondary">Updated: {{ article.updated }}</p>

    <div>
    {% block article %}{% endblock %}
    </div>
{% endblock %}