{% extends 'base.html' %}

{% load static %}

{% block title %}articles{% endblock %}

{% block content %}
    <h1 class="display-1">Shortform Articles</h1>

    <div class="row">
    {% for article in articles %}
        <div class="col">
            <a href="{% url 'article' article.id %}" style="text-decoration: inherit">
                <div class="card my-3" style="width: fit-content">
                    <div class="card-body">
                        <h2 class="card-title">{{ article.title }}</h2>
                        <p class="card-text">
                            {{ article.desc }}
                        </p>
                    </div>
                    <div class="card-footer">
                        Updated {{ article.updated }}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
