{% extends 'article-base.html' %}

{% block article %}
    <h2><abbr title="All Cops Are Bastards">ACAB</abbr></h2>
    <p>
        Cops are shit; they won&rsquo;t wear shoulder numbers, won&rsquo;t follow <abbr title="Police and Criminal Evidence Act 1984">PACE</abbr>,
        will use excessive force, and won&rsquo;t like you holding them to account.
        It is, therefore, important to be informed and stand your ground - as long as you don&rsquo;t put yourself at unnecessary risk.
    </p>

    <h2>Pushing It...</h2>
    <p>
        When it comes to standing up to police, knowing how far you can push it is key, as well as your own risk tolerance.
        Truly, this comes from experience; my advice would be to:
        <ol>
            <li>&ldquo;Read the room&rdquo;: if things are getting tense, maybe back off a bit.</li>
            <li>
                Watch the back lines: if the police behind the main line start rushing, forming up, or otherwise change what they are doing,
                keep an eye out for an escalation.
            </li>
            <li>
                Figure out your risk tolerance beforehand: things can escalate quickly and adrenaline can change your perception of risk.
                Before going to a protest, I like to talk to a friend about the risks that I would be comfortable taking,
                to get another person&rsquo;s thoughts and ensure I understand what I&rsquo;m getting into.
                Try to stick to these choices once you&rsquo;re at the protest, you may have a lesser ability to reason in-the-moment.
            </li>
        </ol>
    </p>

    <h2>The Media</h2>
    <p>
        The media, while good for getting coverage of a protest, can be really annoying.
        Especially where people are trying to use tactics such as de-arrest, forming blockades, or just trying to get bustcards to those arrested,
        the media can pose a real obstacle.
        Sadly, I don&rsquo;t have any advice other than to stand your ground and don&rsquo;t be afraid to push.
    </p>

    <h2>Kit List</h2>
    <p>
        These are the things I take to protests (those marked with &ldquo;&dagger;&rdquo; I take when acting as a liaison/observer):
        <ul>
            <li>Water &ndash; stay hydrated</li>
            <li>Hi-viz<sup>&dagger;</sup></li>
            <li>Snacks (plus ones to share if you can afford it)</li>
            <li><a href="https://greenandblackcross.org/guides/bustcard/" target="_blank">Bustcards</a> &ndash; you can <b>never</b> have too many.
                I like to put some in little plastic bags, in case it rains</li>
            <li>Waterproof notepad and pen</li>
            <li>A protest phone to record / take photos</li>
            <li>A watch</li>
            <li>A coat</li>
            <li>
                <button data-bs-toggle="collapse" href="#fa-kit" role="button" aria-expanded="false" aria-controls="fa-kit">
                    A first aid kit, containing: (dropdown)
                </button>
                <ul class="collapse" id="fa-kit">
                    <li>Plasters</li>
                    <li>Wound wipes</li>
                    <li>Tape</li>
                    <li>Shears and scissors</li>
                    <li>Pads</li>
                    <li>Eye wash</li>
                    <li>Foil blanket</li>
                    <li>Triangular bandage</li>
                    <li>Gloves (I like nitrile best)</li>
                </ul>
            </li>
            <li>Paracord</li>
            <li>Tape</li>
            <li>Tissues, lots of tissues</li>
        </ul>
    </p>
{% endblock %}