{% extends 'article-base.html' %}

{% block article %}
<p>&ldquo;The PACE codes&rdquo; are codes of practice published in accordance with the Police and Criminal Evidence Act 1984.
Most codes contain paragraphs requiring they be made available in police stations; however, in my experience, they are not.
These provisions are given below for reference.
</p>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Code</th>
        <th>Ref</th>
        <th>Quote</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>A</td>
        <td>1.1</td>
        <td>
            This code of practice must be readily available at all police stations for consultation by police officers, police staff, detained persons and members of the public.
        </td>
    </tr>
    <tr>
        <td>B</td>
        <td>2.1</td>
        <td>
            This Code must be readily available at all police stations for consultation by:
            <ul>
                <li>police officers</li>
                <li>police staff</li>
                <li>detained persons</li>
                <li>members of the public</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>C</td>
        <td>1.2</td>
        <td>
            This Code of Practice must be readily available at all police stations for consultation by:
            <ul>
                <li>police officers;</li>
                <li>police staff;</li>
                <li>detained persons;</li>
                <li>members of the public.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>D</td>
        <td>2.1</td>
        <td>
            This Code must be readily available at all police stations for consultation by:
            <ul>
                <li>police officers and police staff</li>
                <li>detained persons</li>
                <li>members of the public</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>G</td>
        <td>1.5</td>
        <td>
            This Code of Practice must be readily available at all police stations for consultation by police officers and police staff, detained persons and members of the public.
        </td>
    </tr>
    <tr>
        <td>H</td>
        <td>1.8</td>
        <td>
            This Code of Practice must be readily available at all police stations for consultation by:
            <ul>
                <li>police officers;</li>
                <li>police staff;</li>
                <li>detained persons;</li>
                <li>members of the public.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>I</td>
        <td>1.7</td>
        <td>
            This Code of Practice must be readily available at all police stations for consultation by:
            <ul>
                <li>police officers;</li>
                <li>police staff;</li>
                <li>detained persons;</li>
                <li>members of the public.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>E</td>
        <td>1.1</td>
        <td>
            This Code of Practice must be readily available for consultation by:
            <ul>
                <li>police officers;</li>
                <li>police staff;</li>
                <li>detained persons;</li>
                <li>members of the public.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>F</td>
        <td>1.1</td>
        <td>
            This Code of Practice must be readily available for consultation by police officers and other police staff, detained persons and members of the public
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}