{% extends 'article-base.html' %}

{% block article %}
    <h2>What is the <abbr title="Relationships, Health, and Sex Education">RHSE</abbr> Guidance?</h2>
    <p>
        Available <a href="https://www.gov.uk/government/publications/relationships-education-relationships-and-sex-education-rse-and-health-education" target="_blank">here</a>, the new statutory guidance covers relationships, health, and sex education and will come into force on 1 September 2026.
        As statutory guidance, schools must have due regard for its contents and only vary from it with good reason.
    </p>

    <h2>Issues with the Guidance Itself</h2>
    <p>
        Overall, the issues with the guidance seem to stem from the transphobic idea that sex and gender are &ldquo;contested&rdquo; topics.
        Despite being untrue, credence is given to the sex-essentialist argument that gender does not exist.
        Notably, the same approach is not taken in relation to vaccination &ldquo;skepticism&rdquo; or &ldquo;flat earth&rdquo; conspiracies.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Loc.</th>
                <th>Quote</th>
                <th>Issue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>&para;27</td>
                <td>
                    <blockquote>
                        In addition, pupils should understand about bullying, and that this can include the use of derogatory terms relating to sex, race, disability or sexual orientation.
                    </blockquote>
                </td>
                <td>
                    This sentence mentions multiple protected characteristics, but notably does not mention transgender status or gender identity.
                    Harassment and discrimination on the basis of &ldquo;gender reassignment&rdquo; (read: trans status) remains unlawful.
                </td>
            </tr>
            <tr>
                <td>p.31</td>
                <td>
                    &ldquo;Developing bodies&rdquo;
                </td>
                <td>
                    While the guidance mentions covering puberty and associated changes, no provision is made for how this may differently affect trans people.
                </td>
            </tr>
            <tr>
                <td>&para;68</td>
                <td>
                    <blockquote>
                        Schools should ensure that they cover all the facts about sexual health, including STIs, in a way that is relevant for all pupils, including those who are lesbian, gay, bisexual and/or gender questioning.
                    </blockquote>
                </td>
                <td>
                    The use of &ldquo;gender questioning&rdquo; is a clear attempt to de-legitimise trans identity in children - implying that such children are not trans, but &ldquo;just exploring&rdquo; (see also the &ldquo;it's just phase&rdquo; rhetoric).
                </td>
            </tr>
            <tr>
                <td>&para;69</td>
                <td>
                    <blockquote>
                        [Teaching] should recognise that people have legal rights by virtue of their biological sex which are different from the rights of those of the opposite sex with the protected characteristic of gender reassignment.
                    </blockquote>
                </td>
                <td>
                    This paragraph is clearly added following the judgement in <i>For Women Scotland v The Scottish Ministers</i> [2025] UKSC 16, which &ldquo;clarified&rdquo; that &ldquo;sex&rdquo; in the Equality Act 2010 refers to so-called &ldquo;biological sex&rdquo;.
                </td>
            </tr>
            <tr>
                <td>&para;70</td>
                <td>
                    <blockquote>
                        schools should be mindful that beyond the facts and the law about biological sex and gender reassignment there is significant debate, and they should be careful not to endorse any particular view or teach it as fact
                    </blockquote>
                </td>
                <td>
                    This, of course, bends to the so-called &ldquo;gender-critical&rdquo; <abbr title="Trans-Exclusionary Radical Feminists">TERFs</abbr>, ignoring the reality that the &ldquo;facts&rdquo; of sex and gender are well established:
                    <ul>
                        <li>Sex is a generally binary (though, not always) system based on a person&rsquo;s biology; one is assigned to a sex at birth.</li>
                        <li>
                            Gender is a social construct to which most people (especially in the West) subscribe.
                            Persons identify with a category, most often inline with their sex, which generally describes the way they go about life.
                            Though, as the feminist and anti-patriarchy movements advance, the overlap between genders becomes ever more blurred.
                        </li>
                    </ul>
                    Furthermore, the &ldquo;facts&rdquo; are not actually defined in the guidance, leaving room for gender-critical ideologies to make their way into the classroom (i.e., being trans is a mental illness).
                </td>
            </tr>
            <tr>
                <td>&para;70</td>
                <td>
                    <blockquote>
                        For example, [schools] should not teach as fact that all people have a gender identity
                    </blockquote>
                </td>
                <td>
                    This is simply false, as every person identifies with a gender identity (I guess you could argue that agender people do not, but I highly doubt this is what the DfE meant).
                </td>
            </tr>
            <tr>
                <td>&para;70</td>
                <td>
                    <blockquote>
                        Schools should be mindful to avoid any suggestion that social transition is a simple solution to feelings of distress or discomfort.
                    </blockquote>
                </td>
                <td>
                    Again, this is just wrong: for trans people, social transition can be a great - reversible - way to manage feelings of dysphoria.
                    Furthermore, managing feelings of dysphoria through social transition can prevent suicide, so to say the opposite is to avoid preventing suicides.
                </td>
            </tr>
            <tr>
                <td>&para;72</td>
                <td>
                    <blockquote>
                        Where schools decide to use external resources, they should avoid materials that use cartoons or diagrams that oversimplify this topic, that could be interpreted as being aimed at younger children, or that perpetuate stereotypes or encourage pupils to question their gender.
                    </blockquote>
                </td>
                <td>
                    The beginning of this paragraph is clearly aimed at the <a href="https://www.itspronouncedmetrosexual.com/genderbread-person/" target="_blank">&ldquo;Genderbread Person&rdquo;</a>, which was subject to right-wing backlash (<a href="https://www.gbnews.com/news/stonewall-how-they-influenced-the-bbc-with-use-of-a-genderbread-person/143293" target="_blank">GB News</a>, <a href="https://www.dailymail.co.uk/news/article-10276779/Civil-servants-shown-disputed-genderbread-person-graphic-presentation.html" target="_blank">Daily Mail</a>).
                    Regardless of backlash, this diagram can be helpful to explain the intertwined identities of sex, gender, presentation, identity, and attraction.
                    Furthermore, barring anything that would &ldquo;encourage pupils to question their gender&rdquo; is incredibly concerning and reminiscent of Thatcher&rsquo;s <a href="https://en.wikipedia.org/wiki/Section_28" target="_blank">&ldquo;Section 28&rdquo;</a>.
                </td>
            </tr>
        </tbody>
    </table>

    <h2>The Equality Impact Assessment</h2>
    <p>The associated <a href="https://assets.publishing.service.gov.uk/media/68b832ddd723ba6f74dba944/Relationships_and_Sex_Education_Equality_Impact_Assessment_-_Sept_2025.pdf" target="_blank">&ldquo;Equality Impact Assessment and Public Sector Equality Duty&rdquo;</a> document's introduction ends with:</p>
    <blockquote>
        The Secretary of State’s view is that no categories of persons with a protected characteristic will be negatively impacted by the policy.
        Overall, we expect the policy to have a positive impact on all categories of persons with protected characteristics as set out below.
    </blockquote>
    <p>I cannot see how this can hold true, especially in light of the following issues.</p>

    <table class="table">
        <thead>
            <tr>
                <th>Loc.</th>
                <th>Quote</th>
                <th>Issue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>p.15</td>
                <td>
                    <blockquote>
                        We are also clear that the content should be taught in a way that is relevant for all pupils, including those who are gender questioning.
                    </blockquote>
                </td>
                <td>
                    As with above, the use of &ldquo;gender questioning&rdquo; infantilises and devalues trans identity.
                </td>
            </tr>
            <tr>
                <td>p.15</td>
                <td>
                    <blockquote>
                        there is a potential risk that some children with this protected characteristic [gender reassignment] or in a family model that includes members with the characteristic might feel that the new subjects are not fully applicable to them if they do not see themselves reflected in the teaching
                    </blockquote>
                </td>
                <td>
                    I am glad that this risk is identified, but nothing substantive is said to mitigate it.
                </td>
            </tr>
            <tr>
                <td>p.15</td>
                <td>
                    <blockquote>
                        However, we would expect that the teaching of these subjects will be tailored by schools to the needs of the school population.
                    </blockquote>
                </td>
                <td>
                    This is the only mitigation given to the above; however, it drastically overlooks the fact that there will be trans youth who are not &ldquo;out&rdquo; yet and would not push the &ldquo;needs of the school population&rdquo;.
                    Any trans person or ally who has been through the British education system knows full well that institutions do not care about us anyway.
                </td>
            </tr>
            <tr>
                <td>p.16</td>
                <td>
                    <blockquote>
                        The new content also recognises that, beyond the law and facts about gender reassignment and biological sex, there is significant public debate in this area and advises that schools should not endorse any particular view and should avoid language and activities which repeat or enforce gender stereotypes.
                    </blockquote>
                </td>
                <td>
                    As mentioned above, the guidance is incredibly vague on the &ldquo;facts&rdquo; of sex and gender, and the &ldquo;public debate&rdquo; is no reason to avoid teaching about trans identity.
                </td>
            </tr>
            <tr>
                <td>p.16</td>
                <td>
                    <blockquote>
                        We believe that the guidance will help schools provide education in this potentially contentious area to all pupils, including those with this protected characteristic, and will build greater understanding and better relationships between young people who share this protected characteristic or are in a family model that includes members with the characteristic and those who do or are not
                    </blockquote>
                </td>
                <td>
                    This is, of course, untrue.
                    Calling it a &ldquo;contentious area&rdquo; only serves to stoke the right-wing idealogues&rsquo; arguments, and certainly does not protect trans people.
                </td>
            </tr>
            <tr>
                <td>p.19</td>
                <td>
                    <dl>
                        <dt>Protected characteristic</dt>
                        <dd>Gender reassignment</dd>
                        <dt>Eliminate discrimination</dt>
                        <dd>No impact</dd>
                        <dt>Advance equality of opportunity</dt>
                        <dd>Potential positive impact</dd>
                        <dt>Foster good relationships</dt>
                        <dd>Potential positive impact</dd>
                    </dl>
                </td>
                <td>
                    Clearly, for the reasons above, this guidance does not:
                    <ol>
                        <li>Work to eliminate discrimination, as it legitimises arguments against trans existence;</li>
                        <li>Advance equality of opportunity, as schools can no longer &ldquo;endorse&rdquo; trans identity; and</li>
                        <li>Foster good relationships, as it paves the way for and legitimises arguments directly opposed to the existence of trans people.</li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>The Families Impact Assessment</h2>
    <p>
        Disclosed to me <a href="https://www.whatdotheyknow.com/request/rhse_guidance_impact_assessments" target="_blank">here</a>, the DfE also performed a &ldquo;Families Impact Assessment&rdquo;, which I have typeset <a href="{% url 'rhse-annex' %}">here</a>.
    </p>
    <p>
        The primary issue with this impact assessment is that it makes no mention of families with trans members.
        For example, same-sex couples are explicitly mentioned.
    </p>

    <h2>&ldquo;Gender Questioning Children&rdquo; Guidance</h2>
    <p>
        Also pertinent is the &ldquo;Gender Questioning Children&rdquo; guidance (<a href="https://consult.education.gov.uk/equalities-political-impartiality-anti-bullying-team/gender-questioning-children-proposed-guidance/supporting_documents/Gender%20Questioning%20Children%20%20nonstatutory%20guidance.pdf" target="_blank">draft</a>) that opened for consultation on 19 December 2023 and closed on 12 March 2024.
        As far as I can tell, the Government is still working on the guidance (see <a href="https://www.whatdotheyknow.com/request/gender_questioning_childrens_gui" target="_blank">FOI response 2025-0021608</a>).
    </p>
    <p>
        This guidance would be non-statutory, but still recommended to be followed.
        For now, I will refrain from comment, as I expect it to change soon enough in light of <abbr title="Equality and Human Rights Commission">EHRC</abbr> guidance.
    </p>
{% endblock %}