{% extends 'article-base.html' %}

{% block article %}
    <ul style="font-size: smaller">
        <li>[a] Mac Síthigh, Daithí, and Siems, Mathias, “The Chinese Social Credit System: A Model for Other Countries?”, The Modern Law Review, 82/6 (2019), 1034–71. doi: 10.1111/1468-2230.12462.</li>
        <li>[b] Liu, Chuncheng, “Multiple Social Credit Systems in China”, Economic Sociology: The European Electronic Newsletter, 22/1 (2019), 22–32. doi: 10.2139/ssrn.3423057.</li>
        <li>[c] Liang, Fan, et al., “Constructing a Data-Driven Society: China’s Social Credit System as a State Surveillance Infrastructure”, Policy & Internet, 10/4 (2018), 415–53. doi: 10.1002/poi3.183.</li>
        <li>[d] Creemers, Rogier, China’s Social Credit System: An Evolving Practice of Control (May 9, 2018). doi: 10.2139/ssrn.3175792.</li>
        <li>[e] Yu, Lean, et al., “Social credit: a comprehensive literature review”, Financial Innovation, 1/1 (June 2015), 6. doi: 10.1186/s40854-015-0005-6.</li>
    </ul>
{% endblock %}