{% extends 'article-base.html' %}

{% block article %}
    <ul>
        <li>Take some time to familiarise yourself with your institution&lsquo;s complaints process, and don't be afraid to complain.</li>
        <li>
            For disabled students:
            <ul>
                <li>DisabilityRightsUK, &ldquo;<a href="https://www.disabilityrightsuk.org/resources/understanding-equality-act-information-disabled-students" target="_blank">Understanding the Equality Act: information for disabled students</a>&rdquo;.</li>
            </ul>
        </li>
        <li>OIA, &ldquo;<a href="https://www.oiahe.org.uk/about-us/reviewing-complaints/what-happens-when-a-student-complains-to-us/putting-things-right/" target="_blank">Putting Things Right</a>&rdquo;.</li>
        <li>OIA, &ldquo;<a href="https://www.oiahe.org.uk/resources-and-publications/case-summaries/" target="_blank">Case Summaries</a>&rdquo;.</li>
        <li>LexisNexis and Kris Robbetts &ldquo;<a href="https://www.lexisnexis.co.uk/legal/guidance/higher-education-student-contract" target="_blank">Higher education student contract</a>&rdquo;.</li>
    </ul>
{% endblock %}