{% extends 'base.html' %}
{% load static %}

{% block title %}credits{% endblock %}

{% block content %}
    <h1 class="display-1">Credits</h1>

    <p class="p-2">
        Content of this site, unless mentioned below, is licenced under the <a href="https://oql.avris.it/license/v1.1?c=Autumn%20R%7Chttps%3A%2F%2Fchorl.dev" target="_blank">
            <svg width="1em" height="1em">
                <image xlink:href="{% static 'images/OQL.svg' %}" height="1em" width="1em"></image>
            </svg>Opinionated Queer License v1.1</a>.
    </p>

    <h2>Content Used</h2>
    <ul>
        <li><a href="https://www.koyeb.com/" target="_blank">Koyeb</a> (hosting service)</li>
        <li><a href="https://oql.avris.it/license/" target="_blank">Opinionated Queer License</a> and logo &copy; <a href="https://avris.it/" target="_blank">Andrea Vos</a> (<a href="https://oql.avris.it/license/" target="_blank">OQL licence</a>)</li>
        <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap v5.3.3</a> &copy; The Bootstrap Authors (<a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank">MIT licence</a>)</li>
        <li><a href="https://icons.getbootsrap.com/" target="_blank">Bootstrap Icons v1.11.3</a> same as above</li>
        <li><a href="https://en.pronouns.page/" target="_blank">Pronouns Page</a> logo &copy; <a target="_blank" href="https://avris.it">Andrea Vos</a>, <a target="_blank" href="https://zaimki.pl/kolektyw-rjn">Kolektyw „Rada Języka Neutralnego”</a> (<a href="https://en.pronouns.page/license" target="_blank">OQL licence</a>)</li>
        <li><a href="https://bootstrap-table.com/" target="_blank">Bootstrap Table</a> &copy; <a href="https://github.com/wenzhixin" target="_blank">Zhixin Wen</a> (<a href="https://github.com/wenzhixin/bootstrap-table/blob/master/LICENSE" target="_blank">MIT licence</a>)</li>
        <li><a href="https://jquery.com/" target="_blank">JQuery</a> &copy; <a href="https://openjsf.org/" target="_blank">OpenJS Foundation</a> and jQuery contributors (<a href="https://www.tldrlegal.com/license/mit-license" target="_blank">MIT licence</a>)</li>
        <li><a href="https://github.com/mathjax/MathJax" target="_blank">MathJax</a> &copy; The MathJax Team (<a href="https://github.com/mathjax/MathJax?tab=Apache-2.0-1-ov-file" target="_blank">Apache License Version 2.0</a>)</li>
    </ul>

    <h3>Pseudo-Bibliography</h3>
    <ul>
        <li><a href="https://w3.org/" target="_blank">World Wide Web Consortium</a></li>
        <li><a href="https://m3.material.io/" target="_blank">Google Material Design 3</a></li>
        <li><a href="https://m2.material.io/" target="_blank">Google Material Design 2</a></li>
        <li><a href="https://developer.mozilla.org" target="_blank">MDN Web Docs</a></li>
    </ul>
{% endblock %}